Name|Type|Requirement
Cc_accel_pedal_regulation_master|0|VEMS_R_09_03334_001.01
Cc_couple_lvv_effectif|0|VEMS_R_09_03334_001.01
Cc_defaut_rvv_lvv_mux|0|VEMS_R_09_03334_001.01
Cc_rvv_lvv_manager_state_mux|0|VEMS_R_09_03334_001.01
Position_pedale_limiteur|0|VEMS_R_09_03334_001.01
Position_pedale_regulateur|0|VEMS_R_09_03334_001.01
VSCtl_bVSCtlDft|0|VEMS_R_09_03334_001.01
VSCtl_stVSCtl|0|VEMS_R_09_03334_001.01
CrsCtl_EveRst_CrsCtlOutTreat|1|VEMS_R_09_03334_001.01
CrsCtl_SdlFast_CrsCtlOutTreat|1|VEMS_R_09_03334_001.01
CRSCTLOUTTREAT_vidxVVFail|1|VEMS_R_09_03334_003.02
CRSCTLOUTTREAT_vidxVVStateIndic|1|VEMS_R_09_03334_002.02
