Name|Type|Requirement
IdlSys_bInjCutOff|0|VEMS_R_10_04612_001.01
IdlSys_bAcvInjCutOffNEng_C|0|VEMS_R_10_04612_001.01
IdlSys_facCorAcvInjNEng_T|0|VEMS_R_10_04612_001.01
IdlSys_nGrdInjCutOff_A|0|VEMS_R_10_04612_001.01
IdlSys_nOfsAcvInjNEng_M|0|VEMS_R_10_04612_001.01
IdlSys_nOfsAuthInjCutOffIVC_M|0|VEMS_R_10_04612_001.01
IdlSys_nOfsInjCutOffNEng_T|0|VEMS_R_10_04612_001.01
IdlSys_tCoInjCutOff_A|0|VEMS_R_10_04612_001.01
IdlSys_tiFilNGrdInjCutOff_C|0|VEMS_R_10_04612_001.01
IdlSys_tqThdAuthInjCutOff_C|0|VEMS_R_10_04612_001.01
IdlSys_EveSync_bInjCutOff|1|VEMS_R_10_04612_001.01
IDLSYSCUTOFF_vidEntryInit|1|VEMS_R_10_04612_001.01
IDLSYSCUTOFF_vidCalculCondRegime|1|VEMS_R_10_04612_002.01
IDLSYSCUTOFF_vidCalculCondIVC|1|VEMS_R_10_04612_003.01
IDLSYSCUTOFF_vidCalcCondRegime|1|VEMS_R_10_04612_004.01
IDLSYSCUTOFF_vidCalcCondCouple|1|VEMS_R_10_04612_005.01
IDLSYSCUTOFF_vidCalcAutorCoupIVC|1|VEMS_R_10_04612_006.01
IDLSYSCUTOFF_vidAutoriCoupureInj|1|VEMS_R_10_04612_007.01
