Name|Type|Requirement
Sync_nEngDifMaxExCmCk_C|0|VEMS_R_09_04172_001.01
Sync_nEngDifMaxInCmCk_C|0|VEMS_R_09_04172_001.01
Sync_nEngDifMaxInCmExCm_C|0|VEMS_R_09_04172_001.01
Sync_nEngInhMonEngSpd_C|0|VEMS_R_09_04172_001.01
Sync_SdlSlow_MonEngSpd|1|VEMS_R_09_04172_001.01
SYNCCKCMCOHDIAG_vidEntryInit|1|VEMS_R_09_04172_001.01
