Name|Type|Requirement
Tpac_open_loop_control|0|VEMS_E_08_04793_002.01
Tpac_open_loop_control|0|VEMS_E_08_04793_001.01
Tpac_open_loop_control|0|VEMS_E_08_04793_003.01
Tpac_open_loop_control_voltage|0|VEMS_E_08_04793_002.01
Tpac_open_loop_control_voltage|0|VEMS_E_08_04793_001.01
Tpac_open_loop_control_voltage|0|VEMS_E_08_04793_003.01
Tpac_closed_thrust_control_volt|0|VEMS_E_08_04793_002.01
Tpac_closed_thrust_control_volt|0|VEMS_E_08_04793_001.01
Tpac_closed_thrust_control_volt|0|VEMS_E_08_04793_003.01
Tpac_exit_low_thrust_delay2|0|VEMS_E_08_04793_002.01
Tpac_exit_low_thrust_delay2|0|VEMS_E_08_04793_001.01
Tpac_exit_low_thrust_delay2|0|VEMS_E_08_04793_003.01
Tpac_exit_low_thrust_volt_max|0|VEMS_E_08_04793_002.01
Tpac_exit_low_thrust_volt_max|0|VEMS_E_08_04793_001.01
Tpac_exit_low_thrust_volt_max|0|VEMS_E_08_04793_003.01
Tpac_exit_low_thrust_volt_step|0|VEMS_E_08_04793_002.01
Tpac_exit_low_thrust_volt_step|0|VEMS_E_08_04793_001.01
Tpac_exit_low_thrust_volt_step|0|VEMS_E_08_04793_003.01
Tpac_exit_low_thrust_volt_step2|0|VEMS_E_08_04793_002.01
Tpac_exit_low_thrust_volt_step2|0|VEMS_E_08_04793_001.01
Tpac_exit_low_thrust_volt_step2|0|VEMS_E_08_04793_003.01
Tpac_mcw_inh_test_control_volt|0|VEMS_E_08_04793_002.01
Tpac_mcw_inh_test_control_volt|0|VEMS_E_08_04793_001.01
Tpac_mcw_inh_test_control_volt|0|VEMS_E_08_04793_003.01
Tpac_open_loop_control_volt_step|0|VEMS_E_08_04793_002.01
Tpac_open_loop_control_volt_step|0|VEMS_E_08_04793_001.01
Tpac_open_loop_control_volt_step|0|VEMS_E_08_04793_003.01
Tpac_open_thrust_control_volt|0|VEMS_E_08_04793_002.01
Tpac_open_thrust_control_volt|0|VEMS_E_08_04793_001.01
Tpac_open_thrust_control_volt|0|VEMS_E_08_04793_003.01
Tpac_open_thrust_search_inh|0|VEMS_E_08_04793_002.01
Tpac_open_thrust_search_inh|0|VEMS_E_08_04793_001.01
Tpac_open_thrust_search_inh|0|VEMS_E_08_04793_003.01
Thr_EveRst_OplCtl|1|VEMS_E_08_04793_002.01
Thr_EveRst_OplCtl|1|VEMS_E_08_04793_001.01
Thr_EveRst_OplCtl|1|VEMS_E_08_04793_003.01
Thr_SdlFast_OplCtl|1|VEMS_E_08_04793_002.01
Thr_SdlFast_OplCtl|1|VEMS_E_08_04793_001.01
Thr_SdlFast_OplCtl|1|VEMS_E_08_04793_003.01
Thr_SdlMid_OplCtl|1|VEMS_E_08_04793_002.01
Thr_SdlMid_OplCtl|1|VEMS_E_08_04793_001.01
Thr_SdlMid_OplCtl|1|VEMS_E_08_04793_003.01
