Name|Type|Requirement
CoPTSt_bRStrtSTT|0|VEMS_R_09_05959_001.01
CoPTSt_tCoMesStrt|0|VEMS_R_09_05959_001.01
CoPTSt_SdlFast_RStrtSTT|1|VEMS_R_09_05959_001.01
COPTST_vidEntryInit|1|VEMS_R_09_05959_001.01
COPTST_vidBoolEtatRedemarrageSTT|1|VEMS_R_09_05959_003.02
COPTST_vidCalcTempEauDemarrage|1|VEMS_R_09_05959_007.02
COPTST_vidDefinitionVariables|1|VEMS_R_09_05959_002.01
COPTST_vidTempEauDemarrage|1|VEMS_R_09_05959_006.01
COPTST_vidTempEauRedemarrageSTT|1|VEMS_R_09_05959_004.01
CoPTSt_tCoMesRStrtSTT|0|VEMS_R_09_05959_001.01
COPTST_vidCalcTempEauRedemarrage|1|VEMS_R_09_05959_005.02
