Name|Type|Requirement
PWRLMRK_vidEveRstPwrlMrk|1|VEMS_E_11_04404_001.01
PWRLMRK_vidInitPwrlMrk|1|VEMS_E_11_04404_002.01
PWRLMRK_vidPwrlMrk|1|VEMS_E_11_04404_003.01
PWRLMRK_vidDiagPwrlMrk|1|VEMS_E_11_04404_004.01
