Name|Type|Requirement
SftyMgt_bDeac0TqVSCtl|0|VEMS_R_11_01190_001.02
SftyMgt_bDgoVSCtl|0|VEMS_R_11_01190_001.02
SftyMgt_bInhAcvNotEfcTqPTMin_C|0|VEMS_R_11_01190_001.02
SftyMgt_bInhDftBrkPedPress_C|0|VEMS_R_11_01190_001.02
SftyMgt_bInhDftTqVSCtl_C|0|VEMS_R_11_01190_001.02
SftyMgt_bTypTqVSCtl_C|0|VEMS_R_11_01190_001.02
SftyMgt_stAcvEfcTqPTMinVSCtl_C|0|VEMS_R_11_01190_001.02
SftyMgt_stAcvNotEfcTqPTMin_C|0|VEMS_R_11_01190_001.02
SftyMgt_tiDlyOnDftTqVSCtl_C|0|VEMS_R_11_01190_001.02
SftyMgt_tiDlyOnDftVSCtl_C|0|VEMS_R_11_01190_001.02
SftyMgt_tqCkEfcThdVSCtl_C|0|VEMS_R_11_01190_001.02
SftyMgt_tqOfsDftVSCtl_C|0|VEMS_R_11_01190_001.02
SftyMgt_SdlMid_TqVSCtlChk|1|VEMS_R_11_01190_001.02
