Name|Type|Requirement
DIOHAL_vidInit|1|V01 NT 06 03391 01: DEV REQ: DIOHAL/EA/01.01
DIOHAL_vidInit|1|V01 NT 06 03391 01: DEV REQ: DIOHAL/EA/01.02
DIOHAL_vidInit|1|V01 NT 06 03391 01: DEV REQ: DIOHAL/EA/01.03
DIOHAL_bRead|1|V01 NT 06 03391 01: DEV REQ: DIOHAL/EA/03.01
DIOHAL_bRead|1|V01 NT 06 03391 01: DEV REQ: DIOHAL/EA/03.02
DIOHAL_bReadRaw|1|V01 NT 06 03391 01: DEV REQ: DIOHAL/EA/04.01
DIOHAL_bReadRaw|1|V01 NT 06 03391 01: DEV REQ: DIOHAL/EA/04.02
