Name|Type|Requirement
SftyMgt_tqIdcAgIgMin|0|VEMS_R_10_01238_001.02
SftyMgt_tqIdcEngCurEstim|0|VEMS_R_10_01238_001.02
SftyMgt_bTqIdcAgIgMinCor_C|0|VEMS_R_10_01238_001.02
SftyMgt_tqIdcEngRealMax_C|0|VEMS_R_10_01238_001.02
SftyMgt_TqIdcAgIgMin_M|0|VEMS_R_10_01238_001.02
SftyMgt_agIgAdvDifOptmCurX_A|0|VEMS_R_10_01238_001.02
SftyMgt_effIgOptEstim_T|0|VEMS_R_10_01238_001.02
SftyMgt_nCkFil_TqIdcAgIgMinX_A|0|VEMS_R_10_01238_001.02
SftyMgt_nCkFil_TqIdcOptmX_A|0|VEMS_R_10_01238_001.02
SftyMgt_nCkFil_agIgOptmX_A|0|VEMS_R_10_01238_001.02
SftyMgt_nCkFil_rAirLdX_A|0|VEMS_R_10_01238_001.02
SftyMgt_pDsThr_TqIdcAgIgMinY_A|0|VEMS_R_10_01238_001.02
SftyMgt_pDsThr_agIgOptmY_A|0|VEMS_R_10_01238_001.02
SftyMgt_pDsThr_rAirLdY_A|0|VEMS_R_10_01238_001.02
SftyMgt_rAirLdEstim_TqIdcOptmY_A|0|VEMS_R_10_01238_001.02
SftyMgt_tqIdcOptmEstim_M|0|VEMS_R_10_01238_001.02
SftyMgt_SdlMid_tqIdcEngReal|1|VEMS_R_10_01238_001.02
TQIDCENGREAL_vidCalcRendmntAvanc|1|VEMS_R_10_01238_006.01
TQIDCENGREAL_vidEntryInit|0|VEMS_R_10_01238_001.02
TQIDCENGREAL_vidEstimAvcOptimal|1|VEMS_R_10_01238_005.01
TQIDCENGREAL_vidEstimCpleOptimum|1|VEMS_R_10_01238_003.01
TQIDCENGREAL_vidEstimRendmAvance|1|VEMS_R_10_01238_004.01
SftyMgt_noCyl_C|0|VEMS_R_10_01238_001.02
SftyMgt_agIgOptmEstim_M|0|VEMS_R_10_01238_001.02
SftyMgt_rAirLdEstim_M|0|VEMS_R_10_01238_001.02
TQIDCENGREAL_vidEstimcpleminimum|1|VEMS_R_10_01238_008.01
TQIDCENGREAL_vidEstimCplRelRdmnt|1|VEMS_R_10_01238_007.01
SftyMgt_rAirLdGrdThd_C|0|VEMS_R_10_01238_001.02
SftyMgt_tiAirLdTauFilDown_C|0|VEMS_R_10_01238_001.02
SftyMgt_tiAirLdTauFilUp_C|0|VEMS_R_10_01238_001.02
TQIDCENGREAL_vidEstimRmplissgAir|1|VEMS_R_10_01238_002.02
