Name|Type|Requirement
COFANCMDDIAG_DgoClsdRlyCoFanB2|1|VEMS_R_09_00032_013.01
COFANCMDDIAG_DgoCohCoFanB2|1|VEMS_R_09_00032_009.01
CoFan_SdlMid_CmdDiagCoFan|1|VEMS_R_09_00032_001.01
COFANCMDDIAG_vidCoFanCmd|1|VEMS_R_09_00032_016.01
COFANCMDDIAG_vidCoFanCtlMng|1|VEMS_R_09_00032_005.02
COFANCMDDIAG_vidCritScCnt|1|VEMS_R_09_00032_015.01
COFANCMDDIAG_vidDgClsdRlyCoFanB2|1|VEMS_R_09_00032_013.01
COFANCMDDIAG_vidDgoCoFanC|1|VEMS_R_09_00032_010.01
COFANCMDDIAG_vidDgoCoFanC|1|VEMS_R_09_00032_011.01
COFANCMDDIAG_vidDgoCoFanC|1|VEMS_R_09_00032_012.01
COFANCMDDIAG_vidDgoCohCoFanB1|1|VEMS_R_09_00032_008.02
COFANCMDDIAG_vidDgoCohCoFanB2|1|VEMS_R_09_00032_009.01
COFANCMDDIAG_vidDiagCoFan|1|VEMS_R_09_00032_006.01
COFANCMDDIAG_vidDiagCoFan|1|VEMS_R_09_00032_007.01
COFANCMDDIAG_vidECIDgo|1|VEMS_R_09_00032_014.01
COFANCMDDIAG_vidSpdFanB1Mng|1|VEMS_R_09_00032_002.02
COFANCMDDIAG_vidSpdFanB2Mng|1|VEMS_R_09_00032_003.01
COFANCMDDIAG_vidSpdFanCMng|1|VEMS_R_09_00032_004.02
