Name|Type|Requirement
IgSys_bAcvLoTCoRegKnk|0|VEMS_R_11_04673_001.01
IgSys_agIgDeltaAcvEngColdReq_C|0|VEMS_R_11_04673_001.01
IgSys_agIgDeltaInhEngColdReq_C|0|VEMS_R_11_04673_001.01
IgSys_bInhIgSysTCoColdReq_C|0|VEMS_R_11_04673_001.01
IgSys_facFilDeltaAgIg_T|0|VEMS_R_11_04673_001.01
IgSys_nEng_IgSysTCoColdReq_A|0|VEMS_R_11_04673_001.01
IgSys_tiEngColdReq_C|0|VEMS_R_11_04673_001.01
IgSys_bAcvLoTCoRegKnk|0|VEMS_R_11_04673_002.01
IgSys_agIgDeltaAcvEngColdReq_C|0|VEMS_R_11_04673_002.01
IgSys_agIgDeltaInhEngColdReq_C|0|VEMS_R_11_04673_002.01
IgSys_bInhIgSysTCoColdReq_C|0|VEMS_R_11_04673_002.01
IgSys_facFilDeltaAgIg_T|0|VEMS_R_11_04673_002.01
IgSys_nEng_IgSysTCoColdReq_A|0|VEMS_R_11_04673_002.01
IgSys_tiEngColdReq_C|0|VEMS_R_11_04673_002.01
IgSys_SdlFast_TCoRegKnk|1|VEMS_R_11_04673_001.01
IgSys_SdlFast_TCoRegKnk|1|VEMS_R_11_04673_002.01
TCOREGKNK_vidEntryInit|1|VEMS_R_11_04673_001.01
TCOREGKNK_vidEntryInit|1|VEMS_R_11_04673_002.01
TCOREGKNK_vidFlag_Generation|1|VEMS_R_11_04673_003.01
TCOREGKNK_vidActiv_Condition|1|VEMS_R_11_04673_004.01
TCOREGKNK_vidCool_Req_Coord|1|VEMS_R_11_04673_005.01
