Name|Type|Requirement
Temperature_air|0|VEMS_R_08_03872_002.01
Temperature_air_mesuree|0|VEMS_R_08_03872_002.01
Ext_tDsThrStrtMes|0|VEMS_R_08_03872_002.01
Table_temperature_air_linearisee|0|VEMS_R_08_03872_002.01
Temp_air_diag_grad_delay|0|VEMS_R_08_03872_002.01
Temp_air_grad_thresh|0|VEMS_R_08_03872_002.01
Temp_air_par_defaut|0|VEMS_R_08_03872_002.01
Temp_air_result_ad_conv_bkpt_map|0|VEMS_R_08_03872_002.01
Temperature_air_slew_rate|0|VEMS_R_08_03872_002.01
Tension_air_seuil_cc0|0|VEMS_R_08_03872_002.01
Tension_air_seuil_cc1|0|VEMS_R_08_03872_002.01
Tension_air_seuil_co|0|VEMS_R_08_03872_002.01
Temperature_air_result_ad_conv|0|VEMS_R_08_03872_002.01
ACQAIRT_vidAirTemperatureAcqui|1|VEMS_R_08_03872_003.01
ACQAIRT_vidAirTemperatureAcqui|1|VEMS_R_08_03872_006.01
ACQAIRT_vidAirTemperatureMeas|1|VEMS_R_08_03872_005.01
ACQAIRT_vidElectricFailDetection|1|VEMS_R_08_03872_004.01
ACQAIRT_vidFunctionalDiagnosis|1|VEMS_R_08_03872_007.01
ACQAIRT_vidResetAirIntakeTemp|1|VEMS_R_08_03872_001.01
AirT_EveCrTR_AcqAirT|1|VEMS_R_08_03872_002.01
AirT_EveRst_AcqAirT|1|VEMS_R_08_03872_002.01
AirT_SdlMid_AcqAirT|1|VEMS_R_08_03872_002.01
