Name|Type|Requirement
PWMHAL_vidInit|1|PTS_R_5139092_003
PWMHAL_vidInit|1|PTS_R_5139092_004
PWMHAL_vidInit|1|PTS_R_5139092_005
PWMHAL_vidInit|1|PTS_R_5139092_006
PWMHAL_udtWriteDutyCycle|1|PTS_R_5139092_007
PWMHAL_udtWriteDutyCycle|1|PTS_R_5139092_008
PWMHAL_udtWriteDutyCycle|1|PTS_R_5139092_012
PWMHAL_udtWriteFrequency|1|PTS_R_5139092_009
PWMHAL_udtWriteFrequency|1|PTS_R_5139092_010
PWMHAL_udtWriteFrequency|1|PTS_R_5139092_011
PWMHAL_udtWriteFrequency|1|PTS_R_5139092_013
