Name|Type|Requirement
VlvAct_agCmExEstimVar|0|VEMS_R_09_02851_004.01
VlvAct_agCmExMesVar|0|VEMS_R_09_02851_004.01
VlvAct_agCmExPosnEstim|0|VEMS_R_09_02851_004.01
VlvAct_bAcvVlvActExStr_C|0|VEMS_R_09_02851_004.01
VlvAct_bExPosnEstimCmdOfsSel_C|0|VEMS_R_09_02851_004.01
VlvAct_bExPosnEstimInh_C|0|VEMS_R_09_02851_004.01
VlvAct_ExPosnEstimCmdDb_C|0|VEMS_R_09_02851_004.01
VlvAct_ExPosnEstimCmdOfs_C|0|VEMS_R_09_02851_004.01
VlvAct_ExPosnEstimInvTo_M|0|VEMS_R_09_02851_004.01
VlvAct_ExPosnEstimK_M|0|VEMS_R_09_02851_004.01
VlvAct_ExPosnEstimMax_C|0|VEMS_R_09_02851_004.01
VlvAct_ExPosnEstimMin_C|0|VEMS_R_09_02851_004.01
VlvAct_nExPosnEstim_T|0|VEMS_R_09_02851_004.01
VlvAct_nExPosnEstimEnaMax_C|0|VEMS_R_09_02851_004.01
VlvAct_tOilExPosnEstim_T|0|VEMS_R_09_02851_004.01
VlvAct_EveExCmToo_ExEstim|1|VEMS_R_09_02851_004.01
VlvAct_SdlFast_ExEstim|1|VEMS_R_09_02851_004.01
VLVACTEXESTIM_vidEntryInit|1|VEMS_R_09_02851_004.01
VLVACTEXESTIM_vidExPosnEstimCmp|1|VEMS_R_09_02851_003.01
VLVACTEXESTIM_vidExPosnEstimVar|1|VEMS_R_09_02851_002.01
VlvAct_agCmExSpdEstim|0|VEMS_R_09_02851_004.01
VLVACTEXESTIM_vidExPosnEstimUpd|1|VEMS_R_09_02851_001.01
