Name|Type|Requirement
IdlSys_bEnaAntiStall_C|0|VEMS_R_10_04974_001.01
IdlSys_bAcvBrkCdnAntiStall_C|0|VEMS_R_10_04974_001.01
IdlSys_tiFilNGrdAntiStall_C|0|VEMS_R_10_04974_001.01
IdlSys_nGrdAntiStall_A|0|VEMS_R_10_04974_001.01
IdlSys_tiInhAntiStall_C|0|VEMS_R_10_04974_001.01
IdlSys_bAcvAntiStall|0|VEMS_R_10_04974_001.01
IdlSys_bEnaAntiStall|0|VEMS_R_10_04974_001.01
TQANTISTALLBVM_TqSys_EveSync|1|VEMS_R_10_04974_001.01
TQANTISTALLBVM_vidActivAntical|1|VEMS_R_10_04974_002.01
TQANTISTALLBVM_vidAnticalBVM|1|VEMS_R_10_04974_001.01
TQANTISTALLBVM_vidAutActAntiCal|1|VEMS_R_09_05599_007.01
TQANTISTALLBVM_vidConditionActiv|1|VEMS_R_09_05599_008.02
TQANTISTALLBVM_vidEntryInit|1|VEMS_R_10_04974_001.01
TQANTISTALLBVM_vidGestionAntical|1|VEMS_R_10_04974_003.01
TQANTISTALLBVM_vidSigActivFrein|1|VEMS_R_10_04974_005.01
TQANTISTALLBVM_vidInhibAntical|1|VEMS_R_10_04974_009.01
IdlSys_nOfsAcvAntiStall_M|0|VEMS_R_10_04974_001.01
IdlSys_tiInhBrkAntiStall_T|0|VEMS_R_10_04974_001.01
IdlSys_noTDCTestAntiStall_T|0|VEMS_R_10_04974_001.01
IdlSys_EveSync_AntiStall|1|VEMS_R_10_04974_001.01
TQANTISTALLBVM_vidSeuilsActiv|1|VEMS_R_10_04974_004.01
