Name|Type|Requirement
AirPres_pBrkAsiThdMax_C|0|VEMS_R_09_04714_001.01
AirPres_pDsThrThdCohBrkAsi_C|0|VEMS_R_09_04714_001.01
AirPres_tiDlyCohBrkAsi_C|0|VEMS_R_09_04714_001.01
AirPres_SdlFast_MonBrkAsi|1|VEMS_R_09_04714_001.01
BRKASIFONCDIAG_vidEntryInit|1|VEMS_R_09_04714_001.01
