Name|Type|Requirement
FISAINHMGR_vidReconfigManagement|1|VEMS_R_08_07067_001.01
FISAINHMGR_vidReconfigManagement|1|VEMS_R_08_07067_002.01
FISAINHMGR_vidReconfigManagement|1|VEMS_R_08_07067_003.01
FISAINHMGR_vidReconfigManagement|1|VEMS_R_08_07067_004.01
