Name|Type|Requirement
Thr_EveRst_BoostSp|1|VEMS_R_07_05957_002.01
Thr_EveRst_BoostSp|1|VEMS_R_07_05957_005.01
Thr_SdlFast_BoostSp|1|VEMS_R_07_05957_002.01
Thr_SdlFast_BoostSp|1|VEMS_R_07_05957_005.01
Dtc_max_distance_to_limp_home|0|VEMS_R_08_04489_001.01
Dtc_throt_pos_ref_boost_gain_map|0|VEMS_R_08_04489_001.01
Dtc_throt_pos_ref_boost_manu_inh|0|VEMS_R_08_04489_001.01
Dtc_throt_pos_ref_raw_bkpt|0|VEMS_R_08_04489_001.01
Dtc_throttle_pos_ref_raw_max_var|0|VEMS_R_08_04489_001.01
Dtc_throttle_pos_ref_raw_min_var|0|VEMS_R_08_04489_001.01
Dtc_throttle_position_reference|0|VEMS_R_08_04489_001.01
Thr_EveRst_BoostSp|1|VEMS_R_08_04489_001.01
Thr_SdlMid_BoostSp|1|VEMS_R_08_04489_001.01
