Name|Type|Requirement
Ext_ctSdlASRSecuReqThd_C|0|VEMS_R_11_05440_001.01
Ext_spdVehAvrReWhl|0|VEMS_R_11_05440_001.01
Ext_ctSdlASRSecuReq|0|VEMS_R_11_05440_001.01
CoCha_bASRSecuReq|0|VEMS_R_11_05440_001.01
CHAADVMINUNLIM_vidASRSecuReq|1|VEMS_R_11_05440_005.01
CHAADVMINUNLIM_vidESPReg|1|VEMS_R_11_05440_003.01
CHAADVMINUNLIM_vidRearWheelSpeed|1|VEMS_R_11_05440_002.01
TqSys_EveRst_ChaAdvMinUnlim|1|VEMS_R_11_05440_001.01
TqSys_SdlFast_ChaAdvMinUnlim|1|VEMS_R_11_05440_001.01
CHAADVMINUNLIM_vidASRReg|1|VEMS_R_11_05440_004.01
