Name|Type|Requirement
PWRSEN_ACQ_vidDetectFailPwSp2|1|VEMS_R_08_02741_551.01
PWRSEN_ACQ_vidDetectFailPwSp1Sdf|1|VEMS_R_08_05190_001.01
PWRSEN_ACQ_vidDiagVRawMes1|1|VEMS_R_08_05190_002.01
PWRSEN_ACQ_vidVEndValMeas1|1|VEMS_R_08_05190_003.01
PWRSEN_ACQ_vidDetectFailPwSp2Sdf|1|VEMS_R_08_05190_004.01
PWRSEN_ACQ_vidDiagVRawMes2|1|VEMS_R_08_05190_005.01
PWRSEN_ACQ_vidVEndValMeas2|1|VEMS_R_08_05190_006.01
PWRSEN_ACQ_vidDetectFailPwSp3Sdf|1|VEMS_R_08_05190_007.01
PWRSEN_ACQ_vidDiagVRawMes3|1|VEMS_R_08_05190_008.01
PWRSEN_ACQ_vidVEndValMeas3|1|VEMS_R_08_05190_003.01
PWRSEN_ACQ_vidDetectFailPwSp4Sdf|1|VEMS_R_10_02612_001.01
PWRSEN_ACQ_vidDiagVRawMes4|1|VEMS_R_10_02612_002.01
PWRSEN_ACQ_vidVEndValMeas4|1|VEMS_R_10_02612_003.01
