Name|Type|Requirement
IGCOILACTEST_vidIgnTime|1|VEMS_R_09_00741_001.01
IGCOILACTEST_vidIgnTime|1|VEMS_R_09_00741_002.01
IGCOILACTEST_vidIgnTime|1|VEMS_R_09_00741_003.01
IGCOILACTEST_vidIgnTime|1|VEMS_R_09_00741_004.01
IGCOILACTEST_vidIgnTime|1|VEMS_R_09_00741_005.01
IGCOILACTEST_vidIgnTime|1|VEMS_R_09_00741_006.01
