Name|Type|Requirement
CoCan_bIdlReqCnstr|0|V02_DOC_08_00014_01
CoCan_ConcHiCanLdEngStopAllw_T|0|V02_DOC_08_00014_01
CoCan_ConcLoCanLdEngStopAllw_T|0|V02_DOC_08_00014_01
CoCan_tAirAmbX_A|0|V02_DOC_08_00014_01
CSTREFCRED_EveRst_CstrEfcRed|1|V02_DOC_08_00014_01
CSTREFCRED_SdlFast_CstrEfcRed|1|V02_DOC_08_00014_01
CSTREFCRED_EveCrTR_CstrEfcRed|1|V02_DOC_08_00014_01
CSTREFCRED_SdlSlow_CstrEfcRed|1|V02_DOC_08_00014_01
Av_dr_ralenti_purge_map|0|VEMS_R_09_01759_001.01
CanPurg_ConcHiCanLdEngStopAllw_T|0|VEMS_R_09_01759_001.01
CanPurg_ConcLoCanLdEngStopAllw_T|0|VEMS_R_09_01759_001.01
CanPurg_tAirAmbX_A|0|VEMS_R_09_01759_001.01
Cpc_ena_conc_corrn|0|VEMS_R_09_01759_001.01
Cpc_water_temp_thresh|0|VEMS_R_09_01759_001.01
Av_dr_ralenti_purge|0|VEMS_R_09_01759_001.01
CanPurg_bTarIdlCanPurg|0|VEMS_R_09_01759_001.01
CanPurg_bEngStopAuth|0|VEMS_R_09_01759_001.01
CanPurg_facTarIdlCanPurg|0|VEMS_R_09_01759_001.01
CanPurg_rCanRes|0|VEMS_R_09_01759_001.01
CanPurg_tqCanRes|0|VEMS_R_09_01759_001.01
Av_dr_ralenti_purge_bkpt_map|0|VEMS_R_09_01759_001.01
Av_dr_ralenti_purge_inc_dec|0|VEMS_R_09_01759_001.01
Cstr_EveCrTR_CstrEfcRed|1|  VEMS_R_09_01759_001.01
Cstr_EveRst_CstrEfcRed|1|  VEMS_R_09_01759_001.01
Cstr_SdlFast_CstrEfcRed|1|  VEMS_R_09_01759_001.01
Cstr_SdlSlow_CstrEfcRed|1|  VEMS_R_09_01759_001.01
CSTREFCRED_vidClcnIdlReq|1|VEMS_R_09_01759_002.01
CSTREFCRED_vidIniIdlReq|1|VEMS_R_09_01759_002.01
