Name|Type|Requirement
Seuil_regime_diag_bobine|0|VEMS_R_08_05995_001.01
Seuil_tension_inf_diag_bobine|0|VEMS_R_08_05995_001.01
IgCmd_bCallDiagTyp_C|0|VEMS_R_08_05995_001.01
IgCmd_EveICD_IgCoilDiag|1|VEMS_R_08_05995_001.01
IgCmd_SdlFast_IgCoilDiag|1|VEMS_R_08_05995_001.01
IgCmd_SdlMid_IgCoilDiag|1|VEMS_R_08_05995_001.01
