Name|Type|Requirement
PROTMANCLU_vidDeterStatesClutch|1|VEMS_R_11_04687_002.01
PROTMANCLU_vidCalculPrevTempInit|1|VEMS_R_11_04687_026.01
PROTMANCLU_vidCalcCoefConParm|1|VEMS_R_11_04687_014.01
PROTMANCLU_vidEstimTorqTransClut|1|VEMS_R_11_04687_003.01
PROTMANCLU_vidDetermStateClutch|1|VEMS_R_11_04687_004.01
PROTMANCLU_vidReconfTorqTransClu|1|VEMS_R_11_04687_005.01
PROTMANCLU_vidDeterTripltGearbox|1|VEMS_R_11_04687_006.01
PROTMANCLU_vidEstimClutchTemper|1|VEMS_R_11_04687_007.01
PROTMANCLU_vidEstimHeatArdClutch|1|VEMS_R_11_04687_008.01
PROTMANCLU_vidEstimDissipatEnerg|1|VEMS_R_11_04687_009.01
PROTMANCLU_vidSelectEnergyToInj|1|VEMS_R_11_04687_018.01
PROTMANCLU_vidCalDelEngPrimshaft|1|VEMS_R_11_04687_010.01
PROTMANCLU_vidCalcDisPowerLowRat|1|VEMS_R_11_04687_011.01
PROTMANCLU_vidCalcDelLowMidEnrgy|1|VEMS_R_11_04687_012.01
PROTMANCLU_vidCalcDelLowHighEngy|1|VEMS_R_11_04687_013.01
PROTMANCLU_vidCalcCoefConvHeatex|1|VEMS_R_11_04687_014.01
PROTMANCLU_vidConvTemperToKelvin|1|VEMS_R_11_04687_015.01
PROTMANCLU_vidSelectEnergyInject|1|VEMS_R_11_04687_016.01
PROTMANCLU_vidSelectGearboxRatio|1|VEMS_R_11_04687_017.01
PROTMANCLU_vidEstimClutchTemp|1|VEMS_R_11_04687_019.01
PROTMANCLU_vidCalculationOffsets|1|VEMS_R_11_04687_029.01
PROTMANCLU_vidCalculPreviousTemp|1|VEMS_R_11_04687_026.01
PROTMANCLU_vidActivationProtect|1|VEMS_R_11_04687_027.01
PROTMANCLU_vidCalcGradclutchTemp|1|VEMS_R_11_04687_028.01
PROTMANCLU_vidDeactvEngRotSpdctr|1|VEMS_R_11_04687_030.01
PROTMANCLU_vidClutch_Protection|1|VEMS_R_11_04687_001.01
PROTMANCLU_vidEstimClutchBellTmp|1|VEMS_R_11_04687_022.01
PROTMANCLU_vidEstimClutchPlatTmp|1|VEMS_R_11_04687_020.01
PROTMANCLU_vidEstimGearboxTemp|1|VEMS_R_11_04687_024.01
PROTMANCLU_vidEstimHousClutchTmp|1|VEMS_R_11_04687_023.01
PROTMANCLU_vidActivProtections|1|VEMS_R_11_04687_031.01
PROTMANCLU_vidActivOfProtection|1|VEMS_R_11_04687_032.01
PROTMANCLU_vidReconfigProtActiv|1|VEMS_R_11_04687_033.01
PROTMANCLU_vidOutput_managment|1|VEMS_R_11_04687_035.01
PROTMANCLU_vidEstimTempOfClutch|1|VEMS_R_11_04687_021.01
