Name|Type|Requirement
Eng_bExThermoProt|0|VEMS_R_08_06151_001.02
Eng_bExThermoProtNotInh|0|VEMS_R_08_06151_001.02
IgSys_agIgMinThermo2|0|VEMS_R_08_06151_001.02
Activation_BV_avance_mini|0|VEMS_R_08_06151_001.02
Activation_ESP_ASR_avance_mini|0|VEMS_R_08_06151_001.02
Activation_agr_cur_avance_mini|0|VEMS_R_08_06151_001.02
Activation_agr_prev_avance_mini|0|VEMS_R_08_06151_001.02
EngM_rAirLdCor_3_A|0|VEMS_R_08_06151_001.02
EngM_rAirLdCor_4_A|0|VEMS_R_08_06151_001.02
IgSys_bAirMin_ThermoProtOfs_C|0|VEMS_R_08_06151_001.02
IgSys_bSel_effClc_C|0|VEMS_R_08_06151_001.02
IgSys_mAirMax_ThermoProt_M|0|VEMS_R_08_06151_001.02
IgSys_mAirMax_ThermoProt_T|0|VEMS_R_08_06151_001.02
IgSys_mAirMin_ThermoProtOfs_C|0|VEMS_R_08_06151_001.02
IgSys_mAirMin_ThermoProt_C|0|VEMS_R_08_06151_001.02
IgSys_nEng_IgThermoProt2_A|0|VEMS_R_08_06151_001.02
IgSys_nEng_IgThermoProt_A|0|VEMS_R_08_06151_001.02
IgSys_rAirCor_M|0|VEMS_R_08_06151_001.02
IgSys_rDecPuc_mAir_C|0|VEMS_R_08_06151_001.02
IgSys_rIgEfc_Sp_thermoProt_M|0|VEMS_R_08_06151_001.02
IgSys_rIgEfc_Thermo_thermoProt_M|0|VEMS_R_08_06151_001.02
IgSys_rIgEfc_thermoProt_T|0|VEMS_R_08_06151_001.02
Temperature_eau_2_bkpt_map|0|VEMS_R_08_06151_001.02
Tempo_appli_BV_avance_mini|0|VEMS_R_08_06151_001.02
Tempo_appli_ESP_ASR_avance_mini|0|VEMS_R_08_06151_001.02
Tempo_appli_agr_cur_avance_mini|0|VEMS_R_08_06151_001.02
Tempo_appli_agr_prev_avance_mini|0|VEMS_R_08_06151_001.02
Tempo_inh_BV_avance_mini|0|VEMS_R_08_06151_001.02
Tempo_inh_ESP_ASR_avance_mini|0|VEMS_R_08_06151_001.02
Tempo_inh_agr_cur_avance_mini|0|VEMS_R_08_06151_001.02
Tempo_inh_agr_prev_avance_mini|0|VEMS_R_08_06151_001.02
IGEXTHERMOPROT_vidEntryInit|1|VEMS_R_08_06151_001.02
IgSys_SdlMid_IgExThermoProt|1|VEMS_R_08_06151_001.02
IgSys_EveBDC_IgExThermoProt|1|VEMS_R_08_06151_001.02
IgSys_rAirMax_ThermoProt_T|0|VEMS_R_08_06151_001.02
