Name|Type|Requirement
MISFDET_vidAlgoConTempo|1|PTS_R_5158467_006.01
MISFDET_vidMisfDet|1|VEMS_R_09_00808_001.01
MISFDET_vidMisfStabCond|1|VEMS_R_09_00808_002.02
MISFDET_vidCondGlobalStab|1|PTS_R_5158467_003.01
MISFDET_vidCondStabNormal|1|PTS_R_5158467_004.01
MISFDET_vidCondStabIdle|1|PTS_R_5158467_005.01
