Name|Type|Requirement
EngReqH_tiInhEngStopDmgMTrb_C|0|VEMS_R_09_05960_001.02
EngReqH_tiInhEngStopThrSys_C|0|VEMS_R_09_05960_001.02
EngReqH_bEngStopAuth|0|VEMS_R_09_05960_001.02
EngReqH_stTiEngStopInh|0|VEMS_R_09_05960_001.02
ENGREQH_vidPartieFonctionTempAir|1|VEMS_R_09_05960_013.01
ENGREQH_vidPartieDisfoncTempEau|1|VEMS_R_09_05960_005.01
ENGREQH_vidPartieDisfonTempHuile|1|VEMS_R_09_05960_008.01
EngReqH_tiThdAuthTrbProt_C|0|VEMS_R_09_05960_001.03
EngReqH_tqAddEngRStrtReq_M|0|VEMS_R_09_05960_001.03
EngReqH_tqEngRstrtReqInvld_C|0|VEMS_R_09_05960_001.03
EngReqH_tqEngRstrtReq_M|0|VEMS_R_09_05960_001.03
EngReqH_tqForcEngRStrtReq_C|0|VEMS_R_09_05960_001.03
EngReqH_bAuthStopSTTTrbProt|0|VEMS_R_09_05960_001.03
EngReqH_bInhCanPurg|0|VEMS_R_09_05960_001.03
EngReqH_bInhLrnAFA|0|VEMS_R_09_05960_001.03
ENGREQH_vidCalcDelaiAutStopTurbo|1|VEMS_R_09_05960_002.03
ENGREQH_vidCalcDelaiAutStopTurbo|1|VEMS_R_09_05960_019.02
ENGREQH_vidCalcDelaiAutStopTurbo|1|VEMS_R_09_05960_024.02
EngReqH_bDeacInhEngStopDmgMTrb_C|0|VEMS_R_09_05960_001.02
EngReqH_tqOfsEngRstrtReq_M|0|VEMS_R_09_05960_001.03
ENGREQH_vidCalcIncrePalierTurb|1|VEMS_R_09_05960_022.03
ENGREQH_vidCalculDuCouple|1|VEMS_R_09_05960_036.02
ENGREQH_vidCalculRegimeTurbine|1|VEMS_R_09_05960_021.03
EngReqH_tiInhEngStopDft_C|0|VEMS_R_09_05960_001.04
EngReqH_tiInhEngStopRstrtReq_C|0|VEMS_R_09_05960_001.04
EngReqH_tiInhEngStopThdHi_C|0|VEMS_R_09_05960_001.04
EngReqH_tiInhEngStopThdLo_C|0|VEMS_R_09_05960_001.04
EngReqH_tiInhEngStopTqAdp_C|0|VEMS_R_09_05960_001.04
EngReqH_stEngStopAuth|0|VEMS_R_09_05960_001.04
EngReqH_SdlFast_EngReqH|1|VEMS_R_09_05960_001.04
EngReqH_SdlMid_EngReqH|1|VEMS_R_09_05960_001.04
ENGREQH_vidAutorisMoteurSTOP|1|VEMS_R_09_05960_026.04
ENGREQH_vidConditionRegimeMoteur|1|VEMS_R_09_05960_038.03
EngReqH_bDeacInhEngStopThrSys_C|0|VEMS_R_09_05960_001.02
EngReqH_bPrioCanPurg_C|0|VEMS_R_09_05960_001.03
EngReqH_bRstCntTrb_C|0|VEMS_R_09_05960_001.03
EngReqH_bTestDeacCdnDlyTrb_C|0|VEMS_R_09_05960_001.03
EngReqH_facCorDlyTrbProt_T|0|VEMS_R_09_05960_001.03
EngReqH_facIncDmgTrb_M|0|VEMS_R_09_05960_001.03
EngReqH_facTqEngRStrtReq_T|0|VEMS_R_09_05960_001.03
EngReqH_ldGasFuCanX_A|0|VEMS_R_09_05960_001.03
EngReqH_mfCorTrbX_A|0|VEMS_R_09_05960_001.03
EngReqH_nFilTrbEstimY_A|0|VEMS_R_09_05960_001.03
EngReqH_nMaxTrbEstim_C|0|VEMS_R_09_05960_001.03
EngReqH_nMinTrbEstim_C|0|VEMS_R_09_05960_001.03
EngReqH_nSpdTrbY_A|0|VEMS_R_09_05960_001.03
EngReqH_nTrbEstim_M|0|VEMS_R_09_05960_001.03
ENGREQH_vidTempsMaxIntPurgCanist|1|VEMS_R_09_05960_029.01
ENGREQH_vidTempsMaxIntApprRiches|1|VEMS_R_09_05960_030.01
EngReqH_facFilTrbEstim_T|0|VEMS_R_09_05960_001.03
EngReqH_facDmgTrb_T|0|VEMS_R_09_05960_001.03
EngReqH_bTestDeacCdnLsOk_C|0|VEMS_R_09_05960_001.04
EngReqH_bTestDeacCdnStrtDly_C|0|VEMS_R_09_05960_001.04
EngReqH_bTestDeacCdnTAir_C|0|VEMS_R_09_05960_001.04
EngReqH_bTestDeacCdnTCo_C|0|VEMS_R_09_05960_001.04
EngReqH_bTestDeacCdnTOil_C|0|VEMS_R_09_05960_001.04
EngReqH_bTestDeacCdnTOxC_C|0|VEMS_R_09_05960_001.04
EngReqH_ctTDCRstrtAutnAvl_C|0|VEMS_R_09_05960_001.04
EngReqH_facCorCntTDCX_A|0|VEMS_R_09_05960_001.04
EngReqH_facCorCntTDC_T|0|VEMS_R_09_05960_001.04
EngReqH_facDmgOxCX_A|0|VEMS_R_09_05960_001.04
EngReqH_facTAirStopAuth_C|0|VEMS_R_09_05960_001.04
EngReqH_jEng_C|0|VEMS_R_09_05960_001.04
EngReqH_nEngRstrtAutnX_A|0|VEMS_R_09_05960_001.04
EngReqH_nEngRstrtAutn_T|0|VEMS_R_09_05960_001.04
EngReqH_nOfsRstrtAutnX_A|0|VEMS_R_09_05960_001.04
EngReqH_nOfsRstrtAutn_T|0|VEMS_R_09_05960_001.04
EngReqH_SdlInter_EngReqH|1|VEMS_R_09_05960_001.02
ENGREQH_vidEstimCoupMoteurRedSTT|1|VEMS_R_09_05960_035.01
ENGREQH_vidPriorisation|1|VEMS_R_09_05960_028.01
EngReqH_pAirExtY_A|0|VEMS_R_09_05960_001.03
EngReqH_pDifTrbCmprX_A|0|VEMS_R_09_05960_001.03
EngReqH_pOilThdDown_C|0|VEMS_R_09_05960_001.03
ENGREQH_vidCalCompUsurRegimeTurb|1|VEMS_R_09_05960_019.02
ENGREQH_vidCalCompUsurRegimeTurb|1|VEMS_R_09_05960_020.01
EngReqH_pOilThdUp_C|0|VEMS_R_09_05960_001.03
ENGREQH_vidPartieDisfoncTempCata|1|VEMS_R_09_05960_018.02
EngReqH_noCyl_C|0|VEMS_R_09_05960_001.04
ENGREQH_vidChoixTemperatureAir|1|VEMS_R_09_05960_012.04
ENGREQH_vidCondNombrePMHRestant|1|VEMS_R_09_05960_039.02
ENGREQH_vidCondPresHuileAutoStop|1|VEMS_R_09_05960_002.04
ENGREQH_vidCondPresHuileAutoStop|1|VEMS_R_09_05960_043.01
ENGREQH_vidCondRedemaAutonomeSTT|1|VEMS_R_09_05960_037.02
ENGREQH_vidCondRedemarrAutonome|1|VEMS_R_09_05960_040.02
ENGREQH_vidCondSeuilHautTempCata|1|VEMS_R_09_05960_017.03
ENGREQH_vidCondTempCatalyAutStop|1|VEMS_R_09_05960_002.04
ENGREQH_vidCondTempCatalyAutStop|1|VEMS_R_09_05960_015.01
ENGREQH_vidCondTempEauAutoriStop|1|VEMS_R_09_05960_002.04
ENGREQH_vidCondTempEauAutoriStop|1|VEMS_R_09_05960_003.01
ENGREQH_vidCondTemperAirAutoStop|1|VEMS_R_09_05960_002.04
ENGREQH_vidCondTemperAirAutoStop|1|VEMS_R_09_05960_011.02
ENGREQH_vidCondTempHuileAutoStop|1|VEMS_R_09_05960_002.04
ENGREQH_vidCondTempHuileAutoStop|1|VEMS_R_09_05960_006.01
ENGREQH_vidConTempCarTurbAutStop|1|VEMS_R_09_05960_002.04
EngReqH_bDeacTmrMaxAFA_C|0|VEMS_R_09_05960_001.03
EngReqH_bDeacTmrMaxCanPurg_C|0|VEMS_R_09_05960_001.03
ENGREQH_vidCondSeuilBasTempCatal|1|VEMS_R_09_05960_016.03
ENGREQH_vidCondSondLambdaAutStop|1|VEMS_R_09_05960_002.04
ENGREQH_vidCondSondLambdaAutStop|1|VEMS_R_09_05960_010.02
ENGREQH_vidPartieFonctionTempEau|1|VEMS_R_09_05960_004.01
EngReqH_bDeacTqRstrtReq_C|0|VEMS_R_09_05960_001.03
EngReqH_rDmgDlyTrbProtX_A|0|VEMS_R_09_05960_001.03
EngReqH_rTrbPresY_A|0|VEMS_R_09_05960_001.03
EngReqH_stForcSelDftTAir_C|0|VEMS_R_09_05960_001.03
EngReqH_stForcSelDftTCoTAir_C|0|VEMS_R_09_05960_001.03
EngReqH_stForcSelDftTCo_C|0|VEMS_R_09_05960_001.03
EngReqH_bAcvStopAuthDlyTrb_C|0|VEMS_R_09_05960_001.03
EngReqH_tAirTqEngRStrtReq_A|0|VEMS_R_09_05960_001.03
EngReqH_tCoEngX_A|0|VEMS_R_09_05960_001.03
EngReqH_bCfTEngRstrtAutn_C|0|VEMS_R_09_05960_001.04
EngReqH_bDeacCdnRstrtThMgt_C|0|VEMS_R_09_05960_001.04
EngReqH_bDeacCdnSTTRstrtTFu_C|0|VEMS_R_09_05960_001.04
EngReqH_bDeacCdnSTTTOxCMin_C|0|VEMS_R_09_05960_001.04
EngReqH_bDeacDsLs_C|0|VEMS_R_09_05960_001.04
EngReqH_bDeacInhEngStopAFA_C|0|VEMS_R_09_05960_001.04
EngReqH_bDeacInhEngStopCanPurg_C|0|VEMS_R_09_05960_001.04
EngReqH_bDeacInhEngStopTqAdp_C|0|VEMS_R_09_05960_001.04
EngReqH_bDeacRstrtTOxCMax_C|0|VEMS_R_09_05960_001.04
EngReqH_bDeacUsLs_C|0|VEMS_R_09_05960_001.04
EngReqH_stTAirSel_C|0|VEMS_R_09_05960_001.04
EngReqH_tAirMinStopAuth_C|0|VEMS_R_09_05960_001.04
EngReqH_bAcvStopAuthLsOk_C|0|VEMS_R_09_05960_001.04
EngReqH_bAcvStopAuthTAir_C|0|VEMS_R_09_05960_001.04
EngReqH_bAcvStopAuthTCo_C|0|VEMS_R_09_05960_001.04
EngReqH_bAcvStopAuthTOil_C|0|VEMS_R_09_05960_001.04
EngReqH_bAcvStopAuthTOxC_C|0|VEMS_R_09_05960_001.04
EngReqH_bAcvStopAuthTTrb_C|0|VEMS_R_09_05960_001.04
EngReqH_bTestDeacCdnPOil_C|0|VEMS_R_09_05960_001.04
EngReqH_tCoHysMaxStopAuth_C|0|VEMS_R_09_05960_001.04
EngReqH_stForcTAirSel_C|0|VEMS_R_09_05960_001.04
EngReqH_stTCoDftVal_C|0|VEMS_R_09_05960_001.04
EngReqH_tiDlyMaxDeacAFA_T|0|VEMS_R_09_05960_001.03
EngReqH_tiDlyMaxDeacCanPurg_C|0|VEMS_R_09_05960_001.03
EngReqH_tiDlyTrbProt_M|0|VEMS_R_09_05960_001.03
EngReqH_tiHysThdAuthTrbProt_C|0|VEMS_R_09_05960_001.03
EngReqH_bEngRStrtReq|0|VEMS_R_09_05960_001.03
EngReqH_tOilDmgTrbX_A|0|VEMS_R_09_05960_001.03
EngReqH_tOilEstimX_A|0|VEMS_R_09_05960_001.03
EngReqH_tqEngRStrtReq|0|VEMS_R_09_05960_001.03
EngReqH_bAcvForcEngRStrtReq_C|0|VEMS_R_09_05960_001.03
EngReqH_stTOilDftVal_C|0|VEMS_R_09_05960_001.04
EngReqH_tCoHysMinStopAuth_C|0|VEMS_R_09_05960_001.04
EngReqH_tCoMaxStopAuth_C|0|VEMS_R_09_05960_001.04
EngReqH_tCoMesStrtY_A|0|VEMS_R_09_05960_001.04
EngReqH_tCoMinStopAuth_T|0|VEMS_R_09_05960_001.04
EngReqH_tCoMin_tAirStopAuth_C|0|VEMS_R_09_05960_001.04
EngReqH_tCoOfsStopAuth_C|0|VEMS_R_09_05960_001.04
EngReqH_tCoStopAuthX_A|0|VEMS_R_09_05960_001.04
EngReqH_tFuHiLimSTTRstrtReq_C|0|VEMS_R_09_05960_001.04
EngReqH_tFuHysLimSTTRstrtReq_C|0|VEMS_R_09_05960_001.04
EngReqH_tiDlyAutSTTRstrt_C|0|VEMS_R_09_05960_001.04
EngReqH_tiDlyStopAuthLsOk_C|0|VEMS_R_09_05960_001.04
EngReqH_tiDlyStrtSTTAuth_T|0|VEMS_R_09_05960_001.04
EngReqH_tiDlyTOxC_C|0|VEMS_R_09_05960_001.04
EngReqH_tiInhEngStopAFA_C|0|VEMS_R_09_05960_001.04
EngReqH_tiInhEngStopAuthSTT_C|0|VEMS_R_09_05960_001.04
EngReqH_tiInhEngStopCanPurg_C|0|VEMS_R_09_05960_001.04
EngReqH_tiPAirExtMem_C|0|VEMS_R_09_05960_001.04
EngReqH_bEngRStrtAutnAvl|0|VEMS_R_09_05960_001.04
EngReqH_bDetPresAirUnfav|0|VEMS_R_09_05960_001.04
EngReqH_tOilHysMaxStopAuth_C|0|VEMS_R_09_05960_001.04
EngReqH_tOilHysMinStopAuth_C|0|VEMS_R_09_05960_001.04
EngReqH_tOilMaxStopAuth_C|0|VEMS_R_09_05960_001.04
EngReqH_tOilMinStopAuth_C|0|VEMS_R_09_05960_001.04
EngReqH_tiEngStopY_A|0|VEMS_R_09_05960_001.03
ENGREQH_vidGestionPriorisation|1|VEMS_R_09_05960_027.01
ENGREQH_vidPartieDisfoncTempAir|1|VEMS_R_09_05960_014.02
ENGREQH_vidGestionCompUsureTurbo|1|VEMS_R_09_05960_023.01
EngReqH_tOxCHiLimSTTRstrtReq_T|0|VEMS_R_09_05960_001.04
EngReqH_tOxCHysLimRstrtReq_C|0|VEMS_R_09_05960_001.04
EngReqH_tOxCMinHeatStopAuth_M|0|VEMS_R_09_05960_001.04
EngReqH_bAcvStopAuthPOil_C|0|VEMS_R_09_05960_001.04
EngReqH_bAcvStopAuthStrtDly_C|0|VEMS_R_09_05960_001.04
EngReqH_bCfNEngRstrtAutn_C|0|VEMS_R_09_05960_001.04
EngReqH_bTestDeacCdnTTrb_C|0|VEMS_R_09_05960_001.04
EngReqH_facFilNEng_C|0|VEMS_R_09_05960_001.04
EngReqH_pAirDeltaHysUnfav_C|0|VEMS_R_09_05960_001.04
EngReqH_pAirDeltaUnfav_C|0|VEMS_R_09_05960_001.04
EngReqH_pAirExtHysUnfav_C|0|VEMS_R_09_05960_001.04
EngReqH_pAirExtUnfav_C|0|VEMS_R_09_05960_001.04
EngReqH_pOilHysMaxAuthSTT_C|0|VEMS_R_09_05960_001.04
EngReqH_pOilMaxAuthSTT_C|0|VEMS_R_09_05960_001.04
EngReqH_tTrbHysMaxStopAuth_C|0|VEMS_R_09_05960_001.04
EngReqH_tTrbMaxStopAuth_C|0|VEMS_R_09_05960_001.04
EngReqH_tiPOilStopAuthX_A|0|VEMS_R_09_05960_001.04
ENGREQH_vidConTempCarTurbAutStop|1|VEMS_R_09_05960_042.03
ENGREQH_vidCriticPresAtmospheriq|1|VEMS_R_09_05960_044.01
ENGREQH_vidDemandeRedemarrage|1|VEMS_R_09_05960_031.02
ENGREQH_vidEntryInit|1|VEMS_R_09_05960_001.04
ENGREQH_vidFiltreRegimeMoteur|1|VEMS_R_09_05960_041.01
ENGREQH_vidObserTempsMinimumStop|1|VEMS_R_09_05960_034.03
ENGREQH_vidRedemBesoinThermCapot|1|VEMS_R_09_05960_032.01
ENGREQH_vidSelectActivFonctions|1|VEMS_R_09_05960_002.04
ENGREQH_vidSelectActivFonctions|1|VEMS_R_09_05960_025.03
ENGREQH_vidPartieFonctTempHuile|1|VEMS_R_09_05960_007.02
EngReqH_tiPOilStopAuth_T|0|VEMS_R_09_05960_001.04
EngReqH_tOxCMinStopAuth_M|0|VEMS_R_09_05960_001.04
EngReqH_stTAirTCoDft_C|0|VEMS_R_09_05960_001.04
EngReqH_bDeacInhEngStopInjSys_C|0|VEMS_R_09_05960_001.04
ENGREQH_vidRedemSeuilTempEssence|1|VEMS_R_09_05960_033.02
ENGREQH_vidTempoDemarrageAutStop|1|VEMS_R_09_05960_002.04
EngReqH_tAirVal_C|0|VEMS_R_09_05960_001.04
EngReqH_tiInhEngStopInjSys_C|0|VEMS_R_09_05960_001.04
EngReqH_bEngRunReq|0|VEMS_R_09_05960_001.04
ENGREQH_vidTempoDemarrageAutStop|1|VEMS_R_09_05960_009.02
