Name|Type|Requirement
Ldsd_am_f_diag_water_temp_thresh|0|VEMS_R_11_07980_001.01
Ldsd_am_diag_delay_sensor_hot_g|0|VEMS_R_11_07980_001.01
Ldsd_am_f_diag_fco_mAir_thresh|0|VEMS_R_11_07980_001.01
Ldsd_am_f_diag_fco_thd_g|0|VEMS_R_11_07980_001.01
Ldsd_am_f_diag_fco_thresh|0|VEMS_R_11_07980_001.01
Ldsd_am_f_diag_fld_mAir_thd_g|0|VEMS_R_11_07980_001.01
Ldsd_am_f_diag_fld_mAir_thresh|0|VEMS_R_11_07980_001.01
Ldsd_am_f_diag_fld_thd_g|0|VEMS_R_11_07980_001.01
Ldsd_am_f_diag_fld_thresh|0|VEMS_R_11_07980_001.01
Ldsd_am_f_diag_max_delay|0|VEMS_R_11_07980_001.01
Ldsd_am_f_diag_mf_emiss_thd_g|0|VEMS_R_11_07980_001.01
Ldsd_am_f_diag_mf_emiss_thresh|0|VEMS_R_11_07980_001.01
Ldsd_am_f_diag_obj_rich_thd_g|0|VEMS_R_11_07980_001.01
Ldsd_am_f_diag_obj_rich_thresh|0|VEMS_R_11_07980_001.01
Ldsd_am_f_diag_water_temp_thd_g|0|VEMS_R_11_07980_001.01
LsMon_uThdSenO2UsDiagGas_C|0|VEMS_R_11_07980_001.01
LsMon_uThdSenO2UsDiag_C|0|VEMS_R_11_07980_001.01
Manu_inh_Ldsd_am_diag_norm_cond|0|VEMS_R_11_07980_001.01
SenO2Us_bAcvEuro6UsPlausFco_C|0|VEMS_R_11_07980_001.01
SenO2Us_bAcvEuro6UsPlausFld_C|0|VEMS_R_11_07980_001.01
SenO2Us_bInhMonWait_PlausFco_C|0|VEMS_R_11_07980_001.01
SenO2Us_bInhMonWait_PlausFld_C|0|VEMS_R_11_07980_001.01
Ldsd_am_diag_delay_sensor_hot|0|VEMS_R_11_07980_001.01
Ldsd_am_f_diag_fco_conf_delay|0|VEMS_R_11_07980_001.01
Ldsd_am_f_diag_fco_conf_g_delay|0|VEMS_R_11_07980_001.01
Ldsd_am_f_diag_fld_conf_delay|0|VEMS_R_11_07980_001.01
HEATSENO2UPFONCDIAG_vidCondDiag|1|VEMS_R_11_07980_005.01
HEATSENO2UPFONCDIAG_vidDiag|1|VEMS_R_11_07980_002.01
HEATSENO2UPFONCDIAG_vidDiag|1|VEMS_R_11_07980_003.01
HEATSENO2UPFONCDIAG_vidMode6|1|VEMS_R_11_07980_004.01
SenO2Us_EveRst_UsPlaus|1|VEMS_R_11_07980_001.01
SenO2Us_FcoPlausFacMax_Obd6Mod|0|VEMS_R_11_07980_001.01
SenO2Us_FcoPlausFacMes_Obd6Mod|0|VEMS_R_11_07980_001.01
SenO2Us_FldPlausFacMes_Obd6Mod|0|VEMS_R_11_07980_001.01
SenO2Us_FldPlausFacMin_Obd6Mod|0|VEMS_R_11_07980_001.01
SenO2Us_bAcvSeqMemUsPlausFld|0|VEMS_R_11_07980_001.01
SenO2Us_bAcvSeqUsPlausFld|0|VEMS_R_11_07980_001.01
Ldsd_am_f_diag_fld_conf_g_delay|0|VEMS_R_11_07980_001.01
Ldsd_am_f_diag_fco_mAir_thd_g|0|VEMS_R_11_07980_001.01
LsMon_tiCfmSenO2UsDiag_C|0|VEMS_R_11_07980_001.01
Manu_inh_diag_am_max_delay|0|VEMS_R_11_07980_001.01
SenO2Us_bAcvSeqUsPlausFld_C|0|VEMS_R_11_07980_001.01
SenO2Us_bInhDiagPresScav_C|0|VEMS_R_11_07980_001.01
SenO2Us_tiInhDiag_C|0|VEMS_R_11_07980_001.01
SenO2Us_bInhDiagIdlCdn_C|0|VEMS_R_11_07980_001.01
SenO2Us_SdlFast_UsPlaus|1|VEMS_R_11_07980_001.01
