Name|Type|Requirement
Dtc_first_crank_offset|0|VEMS_R_08_04622_001.02
Dtc_surf_hors_struc_couple|0|VEMS_R_08_04622_001.02
Dtc_trans_couple_surf|0|VEMS_R_08_04622_001.02
Dtc_STT_crank_decay_retry_map|0|VEMS_R_08_04622_001.02
Dtc_STT_crank_delay_retry_map|0|VEMS_R_08_04622_001.02
Dtc_STT_crank_offset_retry_map|0|VEMS_R_08_04622_001.02
Dtc_deboucle_config_toil|0|VEMS_R_08_04622_001.02
Dtc_dv_surf_STT_map|0|VEMS_R_08_04622_001.02
Dtc_dv_surf_deboucle_map|0|VEMS_R_08_04622_001.02
Dtc_first_crank_decay_map|0|VEMS_R_08_04622_001.02
Dtc_first_crank_decay_retry_map|0|VEMS_R_08_04622_001.02
Dtc_first_crank_delay_map|0|VEMS_R_08_04622_001.02
Dtc_first_crank_delay_retry_map|0|VEMS_R_08_04622_001.02
Dtc_first_crank_offset_map|0|VEMS_R_08_04622_001.02
Dtc_first_crank_offset_retry_map|0|VEMS_R_08_04622_001.02
Dtc_surf_STT_stop_map|0|VEMS_R_08_04622_001.02
Dtc_teau_toil_surf_STT_map|0|VEMS_R_08_04622_001.02
Dtc_teau_toil_surf_deboucle_map|0|VEMS_R_08_04622_001.02
Dtc_trans_couple_surf_map|0|VEMS_R_08_04622_001.02
Dv_surf_pos_ped_bkpt_map|0|VEMS_R_08_04622_001.02
Toil_or_teau_bkpt_map|0|VEMS_R_08_04622_001.02
Air_density_gain_pres_map|0|VEMS_R_08_04622_001.02
Air_density_gain_pres_map_bkpt|0|VEMS_R_08_04622_001.02
Air_density_gain_temp_map|0|VEMS_R_08_04622_001.02
Air_density_gain_temp_map_bkpt|0|VEMS_R_08_04622_001.02
Dtc_facTranRStrtAuth_C|0|VEMS_R_08_04622_001.02
Dtc_surf_STT_stop_RStrtInh_map|0|VEMS_R_08_04622_001.02
CrkMgt_bInhCkEngLoss_C|0|VEMS_R_08_04622_001.02
CrkMng_bAcvThrClsEngStop_C|0|VEMS_R_08_04622_001.02
Dtc_surf_STT_nEng_bkpt_map|0|VEMS_R_08_04622_001.02
Dtc_surf_stop_map|0|VEMS_R_08_04622_001.02
AIRTHRARCRKSP_vidEntryInit|1|VEMS_R_08_04622_001.02
Dtc_surf_stop_nEng_bkpt_map|0|VEMS_R_08_04622_001.02
Air_density_gain_pres_map|0|PTS_R_507471_001.01
Air_density_gain_pres_map_bkpt|0|PTS_R_507471_001.01
Air_density_gain_temp_map|0|PTS_R_507471_001.01
Air_density_gain_temp_map_bkpt|0|PTS_R_507471_001.01
CrkMgt_bInhCkEngLoss_C|0|PTS_R_507471_001.01
CrkMng_bAcvThrClsEngStop_C|0|PTS_R_507471_001.01
Dtc_STT_crank_decay_retry_map|0|PTS_R_507471_001.01
Dtc_STT_crank_delay_retry_map|0|PTS_R_507471_001.01
Dtc_STT_crank_offset_retry_map|0|PTS_R_507471_001.01
Dtc_deboucle_config_toil|0|PTS_R_507471_001.01
Dtc_dv_surf_STT_map|0|PTS_R_507471_001.01
Dtc_dv_surf_deboucle_map|0|PTS_R_507471_001.01
Dtc_facTranRStrtAuth_C|0|PTS_R_507471_001.01
Dtc_first_crank_decay_map|0|PTS_R_507471_001.01
Dtc_first_crank_decay_retry_map|0|PTS_R_507471_001.0
Dtc_first_crank_delay_map|0|PTS_R_507471_001.01
Dtc_first_crank_delay_retry_map|0|PTS_R_507471_001.01
Dtc_first_crank_offset_map|0|PTS_R_507471_001.01
Dtc_first_crank_offset_retry_map|0|PTS_R_507471_001.01
Dtc_surf_STT_nEng_bkpt_map|0|PTS_R_507471_001.01
Dtc_surf_STT_stop_RStrtInh_map|0|PTS_R_507471_001.01
Dtc_surf_STT_stop_map|0|PTS_R_507471_001.01
Dtc_surf_stop_map|0|PTS_R_507471_001.01
Dtc_surf_stop_nEng_bkpt_map|0|PTS_R_507471_001.01
Dtc_teau_toil_surf_STT_map|0|PTS_R_507471_001.01
Dtc_teau_toil_surf_deboucle_map|0|PTS_R_507471_001.01
Dtc_trans_couple_surf_map|0|PTS_R_507471_001.01
Dv_surf_pos_ped_bkpt_map|0|PTS_R_507471_001.01
Toil_or_teau_bkpt_map|0|PTS_R_507471_001.01
Dtc_first_crank_offset|0|PTS_R_507471_001.01
Dtc_surf_hors_struc_couple|0|PTS_R_507471_001.01
Dtc_trans_couple_surf|0|PTS_R_507471_001.01
CrkMgt_SdlFast_AirThrArCrkSp|1|VEMS_R_08_04622_001.02
CrkMgt_SdlMid_AirThrArCrkSp|1|VEMS_R_08_04622_001.02
EngSt_rGainSpThrFctPAir_M|0|PTS_R_507471_001.01
EngSt_rGainSpThrFctPAir_M|0|VEMS_R_08_04622_001.02
AIRTHRARCRKSP_vidEntryInit|1|PTS_R_507471_001.01
CrkMgt_SdlMid_AirThrArCrkSp|1|PTS_R_507471_001.01
CrkMgt_SdlFast_AirThrArCrkSp|1|PTS_R_507471_001.01
AIRTHRARCRKSP_vidCompDtcFiCraOff|1|PTS_R_507471_002.01
