Name|Type|Requirement
Coef_de_transition_air|0|VEMS_R_08_04993_001.02
Dtc_etat_structure|0|VEMS_R_08_04993_001.02
Dtc_second_crank_offset_delay|0|VEMS_R_08_04993_001.02
IgSys_bAcvStructAdv|0|VEMS_R_08_04993_001.02
IgSys_bAcvStructAir|0|VEMS_R_08_04993_001.02
TqSys_bTqSysAcv|0|VEMS_R_08_04993_001.02
Dtc_coef_air_STT_ReStrt_Hi|0|VEMS_R_08_04993_001.02
Dtc_coef_air_STT_ReStrt_Lo|0|VEMS_R_08_04993_001.02
Dtc_coef_de_trans_air_arret_STT|0|VEMS_R_08_04993_001.02
Dtc_coef_de_trans_air_dec|0|VEMS_R_08_04993_001.02
Dtc_coef_de_trans_air_inc|0|VEMS_R_08_04993_001.02
Dtc_coef_de_trans_dec_STT_map|0|VEMS_R_08_04993_001.02
Dtc_coef_de_trans_dec_dem_map|0|VEMS_R_08_04993_001.02
Dtc_coef_trans_air_dec_p_min|0|VEMS_R_08_04993_001.02
Dtc_fafr_obj_man_p_min_offset|0|VEMS_R_08_04993_001.02
Dtc_pres_ratio_hysteresis|0|VEMS_R_08_04993_001.02
Dtc_second_crank_delay_map|0|VEMS_R_08_04993_001.02
Dtc_seuil_deboucle_vitesse_min|0|VEMS_R_08_04993_001.02
Dtc_seuil_ratio_pres_trans_map|0|VEMS_R_08_04993_001.02
Dtc_seuil_regime_de_trans_dem|0|VEMS_R_08_04993_001.02
Dtc_STT_crank_delay_map|0|VEMS_R_08_04993_001.02
CrkMgt_EveRst_AirTqStructMngt|1|VEMS_R_08_04993_001.02
CrkMgt_SdlFast_AirTqStructMngt|1|VEMS_R_08_04993_001.02
CrkMgt_SdlMid_AirTqStructMngt|1|VEMS_R_08_04993_001.02
CrkMng_bAcvKeyEngStopThrFil_C|0|VEMS_R_08_04993_001.02
CrkMng_nEngSpdHiThd_C|0|VEMS_R_08_04993_001.02
CrkMng_nEngSpdLoThd_C|0|VEMS_R_08_04993_001.02
Manu_inh_dtc_filtrage_air|0|VEMS_R_08_04993_001.02
Manu_inh_esp_torq_reduction|0|VEMS_R_08_04993_001.02
AIRTQSTRUCTMNGT_StructState|1|VEMS_R_08_04993_002.02
