Name|Type|Requirement
ACCPSWTACQDIAG_vidEndPointPedCoh|1|VEMS_R_09_00973_006.01
ACCPSWTACQDIAG_vidLvvSwtAcq|1|VEMS_R_09_00973_001.01
ACCPSWTACQDIAG_vidLvvSwtDiag|1|VEMS_R_09_00973_002.01
ACCPSWTACQDIAG_vidLvvSwtDiag|1|VEMS_R_09_00973_003.01
ACCPSWTACQDIAG_vidLvvSwtDiag|1|VEMS_R_09_00973_004.01
ACCPSWTACQDIAG_vidMonitorMngCond|1|VEMS_R_09_00973_005.01
ACCPSWTACQDIAG_vidPtDurSensDetec|1|VEMS_R_09_00973_007.01
