Name|Type|Requirement
STRTLOCKACQ_vidDefautStrtLock|1|VEMS_R_09_04489_004.01
STRTLOCKACQ_vidInitialisation|1|VEMS_R_09_04489_001.01
STRTLOCKACQ_vidStrtLockAcq|1|VEMS_R_09_04489_002.01
STRTLOCKACQ_vidStrtLockAcq|1|VEMS_R_09_04489_003.01
