Name|Type|Requirement
ACCPLRNPOS_vidDvLrnFootUp1Max|1|VEMS_R_08_03668_006.01
ACCPLRNPOS_vidDvLrnFootUp1Max|1|VEMS_R_08_03668_013.01
ACCPLRNPOS_vidDvLrnFootUp1Max|1|VEMS_R_08_03668_014.01
ACCPLRNPOS_vidDvLrnFootUp1Max|1|VEMS_R_08_03668_015.01
ACCPLRNPOS_vidDvLrnFootUp1Max|1|VEMS_R_08_03668_016.01
ACCPLRNPOS_vidDvLrnFootUp1Max|1|VEMS_R_08_03668_017.01
ACCPLRNPOS_vidDvLrnFootUp1Max|1|VEMS_R_08_03668_018.01
ACCPLRNPOS_vidDvLrnFootUp2Max|1|VEMS_R_08_03668_006.01
ACCPLRNPOS_vidDvLrnFootFullDown1|1|VEMS_R_08_03749_005.01
ACCPLRNPOS_vidDvLrnFootUp1|1|VEMS_R_08_03749_003.01
ACCPLRNPOS_vidLrnMgtDetectorHigh|1|VEMS_R_08_03749_004.01
ACCPLRNPOS_vidLrnMgtDetectorLow|1|VEMS_R_08_03749_002.01
ACCPLRNPOS_vidDvLrnFootUp2Max|1|VEMS_R_08_03668_013.01
ACCPLRNPOS_vidDvLrnFootUp2Max|1|VEMS_R_08_03668_014.01
ACCPLRNPOS_vidDvLrnFootUp2Max|1|VEMS_R_08_03668_015.01
ACCPLRNPOS_vidDvLrnFootUp2Max|1|VEMS_R_08_03668_016.01
ACCPLRNPOS_vidDvLrnFootUp2Max|1|VEMS_R_08_03668_017.01
ACCPLRNPOS_vidDvLrnFootUp2Max|1|VEMS_R_08_03668_018.01
ACCPLRNPOS_vidDvLrnFtFlDown1Max|1|VEMS_R_08_03668_006.01
ACCPLRNPOS_vidDvLrnFtFlDown1Max|1|VEMS_R_08_03668_007.01
ACCPLRNPOS_vidDvLrnFtFlDown1Max|1|VEMS_R_08_03668_008.01
ACCPLRNPOS_vidDvLrnFtFlDown1Max|1|VEMS_R_08_03668_009.01
ACCPLRNPOS_vidDvLrnFtFlDown1Max|1|VEMS_R_08_03668_010.01
ACCPLRNPOS_vidDvLrnFtFlDown1Max|1|VEMS_R_08_03668_011.01
ACCPLRNPOS_vidDvLrnFtFlDown1Max|1|VEMS_R_08_03668_012.01
ACCPLRNPOS_vidDvLrnFtFlDown2Max|1|VEMS_R_08_03668_006.01
ACCPLRNPOS_vidDvLrnFtFlDown2Max|1|VEMS_R_08_03668_007.01
ACCPLRNPOS_vidDvLrnFtFlDown2Max|1|VEMS_R_08_03668_008.01
ACCPLRNPOS_vidDvLrnFtFlDown2Max|1|VEMS_R_08_03668_009.01
ACCPLRNPOS_vidDvLrnFtFlDown2Max|1|VEMS_R_08_03668_010.01
ACCPLRNPOS_vidDvLrnFtFlDown2Max|1|VEMS_R_08_03668_011.01
ACCPLRNPOS_vidDvLrnFtFlDown2Max|1|VEMS_R_08_03668_012.01
