Name|Type|Requirement
SftyMgt_bInhSTTCord|0|VEMS_R_11_01213_002.02
IFAUTHDFTSTT_vidEntryInit|1|VEMS_R_11_01213_002.02
IFAUTHDFTSTT_vidIrfAutrstDftSTT|1|VEMS_R_11_01213_006.01
IFAUTHDFTSTT_vidSansSTTCfg|1|VEMS_R_11_01213_004.01
IFAUTHDFTSTT_vidSTTConfig|1|VEMS_R_11_01213_003.01
IFAUTHDFTSTT_vidSTTPrstCfg|1|VEMS_R_11_01213_005.01
SftyMgt_SdlMid_IfSftyMgtSTT|1|VEMS_R_11_01213_002.02
