Name|Type|Requirement
Cpc_constraints_max_purge_ratio|0|VEMS_R_09_01456_001.01
Cpc_current_purge_ratio|0|VEMS_R_09_01456_001.01
Cpc_cat_diag_max_purge_ratio|0|VEMS_R_09_01456_001.01
Cpc_fuel_constraint_max_map|0|VEMS_R_09_01456_001.01
Cpc_max_amfr_thresh|0|VEMS_R_09_01456_001.01
Cpc_max_purge_ratio_max_step|0|VEMS_R_09_01456_001.01
Cpc_min_fuel_pulse_width|0|VEMS_R_09_01456_001.01
Cpc_purge_rate_gain_map|0|VEMS_R_09_01456_001.01
EngM_rAirLdCor_2_A|0|VEMS_R_09_01456_001.01
Purge_test_banc|0|VEMS_R_09_01456_001.01
Regime_moteur_2_bkpt_map|0|VEMS_R_09_01456_001.01
Cpc_bAcvClsCanPurgSTTRamp_C|0|VEMS_R_09_01456_001.01
Cpc_max_purge_ratio_max_step_stt|0|VEMS_R_09_01456_001.01
Cpc_purge_rate_gain_stt_map|0|VEMS_R_09_01456_001.01
Cstr_EveRst_CstrDynLim|1|VEMS_R_09_01456_001.01
Cstr_SdlMid_CstrDynLim|1|VEMS_R_09_01456_001.01
