Name|Type|Requirement
GSM_bAcvAFAAdp|0|VEMS_E_10_00524_005.01
GSM_bAcvAFAAdp|0|VEMS_E_10_00524_006.01
GSM_bAcvAFAAdp|0|VEMS_E_10_00524_007.01
Gsm_closed_cpc_request|0|VEMS_E_10_00524_005.01
Gsm_closed_cpc_request|0|VEMS_E_10_00524_006.01
Gsm_closed_cpc_request|0|VEMS_E_10_00524_007.01
Gsm_closed_egr_request|0|VEMS_E_10_00524_005.01
Gsm_closed_egr_request|0|VEMS_E_10_00524_006.01
Gsm_closed_egr_request|0|VEMS_E_10_00524_007.01
Gsm_cpc_slow_closing_choice|0|VEMS_E_10_00524_005.01
Gsm_cpc_slow_closing_choice|0|VEMS_E_10_00524_006.01
Gsm_cpc_slow_closing_choice|0|VEMS_E_10_00524_007.01
Gsm_saf_diag_enable|0|VEMS_E_10_00524_005.01
Gsm_saf_diag_enable|0|VEMS_E_10_00524_006.01
Gsm_saf_diag_enable|0|VEMS_E_10_00524_007.01
Lambda_for_saf_diag_request|0|VEMS_E_10_00524_005.01
Lambda_for_saf_diag_request|0|VEMS_E_10_00524_006.01
Lambda_for_saf_diag_request|0|VEMS_E_10_00524_007.01
Lfbk_mon_diag_test_enable|0|VEMS_E_10_00524_005.01
Lfbk_mon_diag_test_enable|0|VEMS_E_10_00524_006.01
Lfbk_mon_diag_test_enable|0|VEMS_E_10_00524_007.01
CstrMgr_bAcvReqTranGasGslIp_C|0|VEMS_E_10_00524_005.01
CstrMgr_bAcvReqTranGasGslIp_C|0|VEMS_E_10_00524_006.01
CstrMgr_bAcvReqTranGasGslIp_C|0|VEMS_E_10_00524_007.01
CstrMgr_bAcvReqTranGslGasIp_C|0|VEMS_E_10_00524_005.01
CstrMgr_bAcvReqTranGslGasIp_C|0|VEMS_E_10_00524_006.01
CstrMgr_bAcvReqTranGslGasIp_C|0|VEMS_E_10_00524_007.01
Cstr_TiEnaPurgEngRstrtSTT_C|0|VEMS_E_10_00524_005.01
Cstr_TiEnaPurgEngRstrtSTT_C|0|VEMS_E_10_00524_006.01
Gsm_noAdpEfcCpcThd_C|0|VEMS_E_10_00524_005.01
Gsm_noAdpEfcCpcThd_C|0|VEMS_E_10_00524_006.01
FARSTRAMON_vidFiltration|1|VEMS_R_10_00524_001.02
FARSTRAMON_vidInhCstrTranGasMod|1|VEMS_R_10_00524_003.01
FARSTRAMON_vidFiltration|1|VEMS_R_10_00524_002.02
Gsm_noAdpEfcCpcThd_C|0|VEMS_E_10_00524_007.01
Cstr_TiEnaPurgEngRstrtSTT_C|0|VEMS_E_10_00524_007.01
Cstr_TiEnaPurgEngStrt_C|0|VEMS_E_10_00524_005.01
Cstr_TiEnaPurgEngStrt_C|0|VEMS_E_10_00524_006.01
Cstr_TiEnaPurgEngStrt_C|0|VEMS_E_10_00524_007.01
Cstr_pHysUsDsPurgClose_C|0|VEMS_E_10_00524_005.01
Cstr_pHysUsDsPurgClose_C|0|VEMS_E_10_00524_006.01
Cstr_pHysUsDsPurgClose_C|0|VEMS_E_10_00524_007.01
Cstr_pMinUsDsPurgClose_C|0|VEMS_E_10_00524_005.01
Cstr_pMinUsDsPurgClose_C|0|VEMS_E_10_00524_006.01
Cstr_pMinUsDsPurgClose_C|0|VEMS_E_10_00524_007.01
Cstr_pMinUsDsPurgImdtClose_C|0|VEMS_E_10_00524_005.01
Cstr_pMinUsDsPurgImdtClose_C|0|VEMS_E_10_00524_006.01
Cstr_pMinUsDsPurgImdtClose_C|0|VEMS_E_10_00524_007.01
GSM_Misf_OBD_Down_C|0|VEMS_E_10_00524_005.01
GSM_Misf_OBD_Down_C|0|VEMS_E_10_00524_006.01
GSM_Misf_OBD_Down_C|0|VEMS_E_10_00524_007.01
Gsm_egr_relative_pos_hi_thresh|0|VEMS_E_10_00524_005.01
Gsm_egr_relative_pos_hi_thresh|0|VEMS_E_10_00524_006.01
Gsm_egr_relative_pos_hi_thresh|0|VEMS_E_10_00524_007.01
Gsm_egr_relative_pos_low_thresh|0|VEMS_E_10_00524_005.01
Gsm_egr_relative_pos_low_thresh|0|VEMS_E_10_00524_006.01
Gsm_egr_relative_pos_low_thresh|0|VEMS_E_10_00524_007.01
Gsm_no_effect_fast_closed_delay|0|VEMS_E_10_00524_005.01
Gsm_no_effect_fast_closed_delay|0|VEMS_E_10_00524_006.01
Gsm_no_effect_fast_closed_delay|0|VEMS_E_10_00524_007.01
Gsm_no_effect_slow_closed_delay|0|VEMS_E_10_00524_005.01
Gsm_no_effect_slow_closed_delay|0|VEMS_E_10_00524_006.01
Gsm_no_effect_slow_closed_delay|0|VEMS_E_10_00524_007.01
StraMon_EveRst_FarStraMon|1|VEMS_E_10_00524_005.01
StraMon_EveRst_FarStraMon|1|VEMS_E_10_00524_006.01
StraMon_EveRst_FarStraMon|1|VEMS_E_10_00524_007.01
StraMon_SdlMid_FarStraMon|1|VEMS_E_10_00524_005.01
StraMon_SdlMid_FarStraMon|1|VEMS_E_10_00524_006.01
StraMon_SdlMid_FarStraMon|1|VEMS_E_10_00524_007.01
StraMon_EveCrTR_FarStraMon|1|VEMS_E_10_00524_005.01
StraMon_EveCrTR_FarStraMon|1|VEMS_E_10_00524_006.01
StraMon_EveCrTR_FarStraMon|1|VEMS_E_10_00524_007.01
FARSTRAMON_vidIninTmrEnaPurgEng|1|VEMS_R_10_00524_004.01
FARSTRAMON_vidTmrEnaPurgEng|1|VEMS_R_10_00524_004.01
OxC_bAcvPrioMgt|0|VEMS_E_10_00524_005.01
OxC_bAcvPrioMgt|0|VEMS_E_10_00524_006.01
OxC_bAcvPrioMgt|0|VEMS_E_10_00524_007.01
StraMon_concFuStmEstimThd_C|0|VEMS_E_10_00524_005.01
StraMon_concFuStmEstimThd_C|0|VEMS_E_10_00524_006.01
StraMon_concFuStmEstimThd_C|0|VEMS_E_10_00524_007.01
StraMon_tiDlyAftDiagItrsv_C|0|VEMS_E_10_00524_005.01
StraMon_tiDlyAftDiagItrsv_C|0|VEMS_E_10_00524_006.01
StraMon_tiDlyAftDiagItrsv_C|0|VEMS_E_10_00524_007.01
FARSTRAMON_vidEnableManagement|1|VEMS_R_10_00524_005.01
FARSTRAMON_vidEnableManagement|1|VEMS_R_10_00524_006.01
FARSTRAMON_vidEnableManagement|1|VEMS_R_10_00524_007.01
FARSTRAMON_vidEnableManagement|1|VEMS_R_10_00524_008.01
