Name|Type|Requirement
EOM_stEngModCur|0|CSMT_CGMT06_2409.FR.3.0
EOM_tiEngCrankStrt|0|CSMT_CGMT06_2409.FR.3.0
EOM_tiEngModStp|0|CSMT_CGMT06_2409.FR.3.0
EOM_tiEngRun|0|CSMT_CGMT06_2409.FR.3.0
EOM_tiEngRunStrt|0|CSMT_CGMT06_2409.FR.3.0
Ext_nEng_prec|0|CSMT_CGMT06_2409.FR.2.0
Ext_nEng1|0|CSMT_CGMT06_2409.FR.3.0
Ext_nEng2|0|CSMT_CGMT06_2409.FR.3.0
Ext_nEngAvr|0|CSMT_CGMT06_2409.FR.2.0
Ext_nEngClc_prec|0|CSMT_CGMT06_2409.FR.2.0
Ext_nEngClc0|0|CSMT_CGMT06_2409.FR.2.0
Ext_nEngClc1|0|CSMT_CGMT06_2409.FR.2.0
TQINP_vidCalcElement10ms|1|CSMT_CGMT06_2409.FR.1.0
TQINP_vidCalcElement10ms|1|CSMT_CGMT06_2409.FR.3.0
TQINP_vidCalcElement1ms|1|CSMT_CGMT06_2409.FR.1.0
TQINP_vidCalcElement1ms|1|CSMT_CGMT06_2409.FR.4.0
TQINP_vidCalcRegimePMH|1|CSMT_CGMT06_2409.FR.1.0
TQINP_vidCalcRegimePMH|1|CSMT_CGMT06_2409.FR.2.0
TqSys_bNEngChoice_C|0|CSMT_CGMT06_2409.FR.2.0
TqSys_bTypFu|0|CSMT_CGMT06_2409.FR.3.0
