Name|Type|Requirement
SftyMgt_SdlMid_LiHChk|1|VEMS_R_10_01261_001.01
LIHCHK_vidEntryInit|1|VEMS_R_10_01261_001.01
LIHCHK_vidDeterminer_Limitation|1|VEMS_R_10_01261_002.01
LIHCHK_vidValider_Limitation|1|VEMS_R_10_01261_003.01
LIHCHK_vidValider_Limp_Home|1|VEMS_R_10_01261_001.01
SftyMgt_nEngLimThd_C|0|VEMS_R_10_01261_001.01
SftyMgt_nEngSpdLimHiThd_T|0|VEMS_R_10_01261_001.01
SftyMgt_nEngSpdLimLoThd_T|0|VEMS_R_10_01261_001.01
SftyMgt_noGearCord_A|0|VEMS_R_10_01261_001.01
SftyMgt_tiDlyDgoEngLim_C|0|VEMS_R_10_01261_001.01
