Name|Type|Requirement
BICD_vidDftStaCmdAcq|1|VEMS_R_10_03609_002.02
BICD_vidDftStaCmdDiag|1|VEMS_R_10_03609_003.01
BICD_vidDftStaCmdDiag|1|VEMS_R_10_03609_004.02
BICD_vidDftStaCmdSelection|1|VEMS_R_10_03609_005.02
BICD_vidFastFunCall|1|VEMS_R_10_03609_001.01
