Name|Type|Requirement
INTERFACAGE_BA_SC_vidInterfExMSC|1|VEMS_R_10_07792_001.01
Eng_bAcvCllEngReq|0|VEMS_R_10_07792_001.03
ExM_pUsTrbEstimTqSys|0|VEMS_R_10_07792_001.03
Ext_pAirExtMes|0|VEMS_R_10_07792_001.03
UsThrM_pAirExtEstim|0|VEMS_R_10_07792_001.03
UsThrM_tDsThrCorMes|0|VEMS_R_10_07792_001.03
AirSys_SdlFast_InterfAirSysSC|1|VEMS_R_10_07792_001.03
EngM_SdlMid_InterfEngMSC|1|VEMS_R_10_07792_001.03
EngM_SdlMid_InterfUsThrMSC|1|VEMS_R_10_07792_001.03
ExM_SdlFast_InterfExMSC|1|VEMS_R_10_07792_001.03
INTERFACAGE_BA_SC_vidEntryInit|1|VEMS_R_10_07792_001.03
AirSys_mfAirMesThrEstim|0|VEMS_R_10_07792_001.03
Eng_rAirLd|0|VEMS_R_10_07792_001.03
INTERFACAGE_BA_SC_vidIntAirSysSC|1|VEMS_R_10_07792_001.02
INTERFACAGE_BA_SC_vidIntEngMSC|1|VEMS_R_10_07792_001.01
INTERFACAGE_BA_SC_vidIntrfUsThrM|1|VEMS_R_10_07792_001.02
