Name|Type|Requirement
HEATSENO2USCMD_vidLsUsHeatCmd|1|VEMS_R_09_04308_008.01
HEATSENO2USCMD_vidLsUsHeatCor|1|VEMS_R_09_04308_004.01
HEATSENO2USCMD_vidLsUsHeatDiag|1|VEMS_R_09_04308_005.01
HEATSENO2USCMD_vidLsUsHeatMan|1|VEMS_R_09_04308_003.01
HEATSENO2USCMD_vidLsUsHeatRaw|1|VEMS_R_09_04308_001.01
HEATSENO2USCMD_vidLsUsHeatReq|1|VEMS_R_09_04308_006.01
HEATSENO2USCMD_vidLsUsHeatReq|1|VEMS_R_09_04308_007.01
HEATSENO2USCMD_vidSlopHeat|1|VEMS_R_09_04308_002.02
