Name|Type|Requirement
AFReg_bAFRegAcv|0|VEMS_E_08_05763_007.01
AFReg_bAFRegAcv|0|VEMS_E_08_05763_008.01
AFReg_bAFRegAcv|0|VEMS_E_08_05763_009.01
AFReg_bAFRegAcv|0|VEMS_E_08_05763_010.01
Conditions_for_feedback|0|VEMS_E_08_05763_007.01
Conditions_for_feedback|0|VEMS_E_08_05763_008.01
Conditions_for_feedback|0|VEMS_E_08_05763_009.01
Conditions_for_feedback|0|VEMS_E_08_05763_010.01
Enable_dec_obj_rich_mise_en_ac|0|VEMS_E_08_05763_007.01
Enable_dec_obj_rich_mise_en_ac|0|VEMS_E_08_05763_008.01
Enable_dec_obj_rich_mise_en_ac|0|VEMS_E_08_05763_009.01
Enable_dec_obj_rich_mise_en_ac|0|VEMS_E_08_05763_010.01
Lambda_closed_loop|0|VEMS_E_08_05763_007.01
Lambda_closed_loop|0|VEMS_E_08_05763_008.01
Lambda_closed_loop|0|VEMS_E_08_05763_009.01
Lambda_closed_loop|0|VEMS_E_08_05763_010.01
Lambda_cond_for_adaptation|0|VEMS_E_08_05763_007.01
Lambda_cond_for_adaptation|0|VEMS_E_08_05763_008.01
Lambda_cond_for_adaptation|0|VEMS_E_08_05763_009.01
Lambda_cond_for_adaptation|0|VEMS_E_08_05763_010.01
Lambda_cond_for_feedback|0|VEMS_E_08_05763_007.01
Lambda_cond_for_feedback|0|VEMS_E_08_05763_008.01
Lambda_cond_for_feedback|0|VEMS_E_08_05763_009.01
Lambda_cond_for_feedback|0|VEMS_E_08_05763_010.01
Lambda_for_saf_diag_active|0|VEMS_E_08_05763_007.01
Lambda_for_saf_diag_active|0|VEMS_E_08_05763_008.01
Lambda_for_saf_diag_active|0|VEMS_E_08_05763_009.01
Lambda_for_saf_diag_active|0|VEMS_E_08_05763_010.01
InjCtl_EveCrTR_FarCtlMgr|1|VEMS_E_08_05763_007.01
InjCtl_EveCrTR_FarCtlMgr|1|VEMS_E_08_05763_008.01
InjCtl_EveCrTR_FarCtlMgr|1|VEMS_E_08_05763_009.01
InjCtl_EveCrTR_FarCtlMgr|1|VEMS_E_08_05763_010.01
InjCtl_EveRst_FarCtlMgr|1|VEMS_E_08_05763_007.01
InjCtl_EveRst_FarCtlMgr|1|VEMS_E_08_05763_008.01
InjCtl_EveRst_FarCtlMgr|1|VEMS_E_08_05763_009.01
Monitor_feedback_conds_state|0|VEMS_E_08_05763_007.01
Monitor_feedback_conds_state|0|VEMS_E_08_05763_008.01
Monitor_feedback_conds_state|0|VEMS_E_08_05763_009.01
Monitor_feedback_conds_state|0|VEMS_E_08_05763_010.01
OxC_bMonIntrErunCdn|0|VEMS_E_08_05763_007.01
OxC_bMonIntrErunCdn|0|VEMS_E_08_05763_008.01
OxC_bMonIntrErunCdn|0|VEMS_E_08_05763_009.01
OxC_bMonIntrErunCdn|0|VEMS_E_08_05763_010.01
Phase_apres_depart|0|VEMS_E_08_05763_007.01
Phase_apres_depart|0|VEMS_E_08_05763_008.01
Phase_apres_depart|0|VEMS_E_08_05763_009.01
Phase_apres_depart|0|VEMS_E_08_05763_010.01
InjCtl_bAcvObjRichRegul_C|0|VEMS_E_08_05763_007.01
InjCtl_bAcvObjRichRegul_C|0|VEMS_E_08_05763_008.01
InjCtl_bAcvObjRichRegul_C|0|VEMS_E_08_05763_009.01
InjCtl_bAcvObjRichRegul_C|0|VEMS_E_08_05763_010.01
InjCtl_ctLbDiRMixtSenO2Calc_C|0|VEMS_E_08_05763_007.01
InjCtl_ctLbDiRMixtSenO2Calc_C|0|VEMS_E_08_05763_008.01
InjCtl_ctLbDiRMixtSenO2Calc_C|0|VEMS_E_08_05763_009.01
InjCtl_ctLbDiRMixtSenO2Calc_C|0|VEMS_E_08_05763_010.01
InjCtl_rMixtSenO2CalcLeanHiThd_C|0|VEMS_E_08_05763_007.01
InjCtl_rMixtSenO2CalcLeanHiThd_C|0|VEMS_E_08_05763_008.01
InjCtl_rMixtSenO2CalcLeanHiThd_C|0|VEMS_E_08_05763_009.01
InjCtl_rMixtSenO2CalcLeanHiThd_C|0|VEMS_E_08_05763_010.01
InjCtl_rMixtSenO2CalcLeanLoThd_C|0|VEMS_E_08_05763_007.01
InjCtl_rMixtSenO2CalcLeanLoThd_C|0|VEMS_E_08_05763_008.01
InjCtl_rMixtSenO2CalcLeanLoThd_C|0|VEMS_E_08_05763_009.01
InjCtl_rMixtSenO2CalcLeanLoThd_C|0|VEMS_E_08_05763_010.01
InjCtl_rMixtSenO2CalcRichHiThd_C|0|VEMS_E_08_05763_007.01
InjCtl_rMixtSenO2CalcRichHiThd_C|0|VEMS_E_08_05763_008.01
InjCtl_rMixtSenO2CalcRichHiThd_C|0|VEMS_E_08_05763_009.01
InjCtl_rMixtSenO2CalcRichHiThd_C|0|VEMS_E_08_05763_010.01
InjCtl_rMixtSenO2CalcRichLoThd_C|0|VEMS_E_08_05763_007.01
InjCtl_rMixtSenO2CalcRichLoThd_C|0|VEMS_E_08_05763_008.01
InjCtl_rMixtSenO2CalcRichLoThd_C|0|VEMS_E_08_05763_009.01
InjCtl_rMixtSenO2CalcRichLoThd_C|0|VEMS_E_08_05763_010.01
Lambda_adapt_cond_knk_thr_high|0|VEMS_E_08_05763_007.01
Lambda_adapt_cond_knk_thr_high|0|VEMS_E_08_05763_008.01
Lambda_adapt_cond_knk_thr_high|0|VEMS_E_08_05763_009.01
Lambda_adapt_cond_knk_thr_high|0|VEMS_E_08_05763_010.01
Lambda_adapt_cond_knk_thr_low|0|VEMS_E_08_05763_007.01
Lambda_adapt_cond_knk_thr_low|0|VEMS_E_08_05763_008.01
Lambda_adapt_cond_knk_thr_low|0|VEMS_E_08_05763_009.01
Lambda_adapt_cond_knk_thr_low|0|VEMS_E_08_05763_010.01
Lambda_adapt_cond_stt_thr_high|0|VEMS_E_08_05763_007.01
Lambda_adapt_cond_stt_thr_high|0|VEMS_E_08_05763_008.01
Lambda_adapt_cond_stt_thr_high|0|VEMS_E_08_05763_009.01
Lambda_adapt_cond_stt_thr_high|0|VEMS_E_08_05763_010.01
Lambda_adapt_cond_stt_thr_low|0|VEMS_E_08_05763_007.01
Lambda_adapt_cond_stt_thr_low|0|VEMS_E_08_05763_008.01
Lambda_adapt_cond_stt_thr_low|0|VEMS_E_08_05763_009.01
Lambda_adapt_cond_stt_thr_low|0|VEMS_E_08_05763_010.01
Lambda_adapt_cond_thresh_high|0|VEMS_E_08_05763_007.01
Lambda_adapt_cond_thresh_high|0|VEMS_E_08_05763_008.01
Lambda_adapt_cond_thresh_high|0|VEMS_E_08_05763_009.01
Lambda_adapt_cond_thresh_high|0|VEMS_E_08_05763_010.01
Lambda_adapt_cond_thresh_low|0|VEMS_E_08_05763_007.01
Lambda_adapt_cond_thresh_low|0|VEMS_E_08_05763_008.01
Lambda_adapt_cond_thresh_low|0|VEMS_E_08_05763_009.01
Lambda_adapt_cond_thresh_low|0|VEMS_E_08_05763_010.01
InjCtl_EveRst_FarCtlMgr|1|VEMS_E_08_05763_010.01
InjCtl_EveRTSt_FarCtlMgr|1|VEMS_E_08_05763_007.01
InjCtl_EveRTSt_FarCtlMgr|1|VEMS_E_08_05763_008.01
Lambda_disable_delay|0|VEMS_E_08_05763_007.01
Lambda_disable_delay|0|VEMS_E_08_05763_008.01
Lambda_disable_delay|0|VEMS_E_08_05763_009.01
Lambda_disable_delay|0|VEMS_E_08_05763_010.01
Lambda_disable_knk_delay|0|VEMS_E_08_05763_007.01
Lambda_disable_knk_delay|0|VEMS_E_08_05763_008.01
Lambda_disable_knk_delay|0|VEMS_E_08_05763_009.01
Lambda_disable_knk_delay|0|VEMS_E_08_05763_010.01
Lambda_disable_stt_delay|0|VEMS_E_08_05763_007.01
Lambda_disable_stt_delay|0|VEMS_E_08_05763_008.01
Lambda_disable_stt_delay|0|VEMS_E_08_05763_009.01
Lambda_disable_stt_delay|0|VEMS_E_08_05763_010.01
Lambda_enable_after_fco_tdc|0|VEMS_E_08_05763_007.01
Lambda_enable_after_fco_tdc|0|VEMS_E_08_05763_008.01
Lambda_enable_after_fco_tdc|0|VEMS_E_08_05763_009.01
Lambda_enable_after_fco_tdc|0|VEMS_E_08_05763_010.01
Lambda_enable_temp_offset_map|0|VEMS_E_08_05763_007.01
Lambda_enable_temp_offset_map|0|VEMS_E_08_05763_008.01
InjCtl_EveRTSt_FarCtlMgr|1|VEMS_E_08_05763_009.01
InjCtl_EveRTSt_FarCtlMgr|1|VEMS_E_08_05763_010.01
INJCTL_INJFARCTLMGR_vidInitDelay|1|VEMS_R_08_05763_004.01
INJCTL_INJFARCTLMGR_vidMontrCond|1|VEMS_R_08_05763_002.01
INJCTL_INJFARCTLMGR_vidMontrCond|1|VEMS_R_08_05763_005.01
INJCTL_INJFARCTLMGR_vidMontrCond|1|VEMS_R_08_05763_006.01
InjCtl_SdlFast_FarCtlMgr|1|VEMS_E_08_05763_007.01
InjCtl_SdlFast_FarCtlMgr|1|VEMS_E_08_05763_008.01
InjCtl_SdlFast_FarCtlMgr|1|VEMS_E_08_05763_009.01
InjCtl_SdlFast_FarCtlMgr|1|VEMS_E_08_05763_010.01
InjCtl_SdlSlow_FarCtlMgr|1|VEMS_E_08_05763_007.01
InjCtl_SdlSlow_FarCtlMgr|1|VEMS_E_08_05763_008.01
InjCtl_SdlSlow_FarCtlMgr|1|VEMS_E_08_05763_009.01
Lambda_enable_temp_offset_map|0|VEMS_E_08_05763_009.01
Lambda_enable_temp_offset_map|0|VEMS_E_08_05763_010.01
Lambda_enable_thresh_temp|0|VEMS_E_08_05763_007.01
Lambda_enable_thresh_temp|0|VEMS_E_08_05763_008.01
INJCTL_INJFARCTLMGR_vidFSM|1|VEMS_R_08_05763_001.01
Lambda_enable_thresh_temp|0|VEMS_E_08_05763_009.01
Lambda_enable_thresh_temp|0|VEMS_E_08_05763_010.01
Lambda_rich_for_cata_diag|0|VEMS_E_08_05763_007.01
Lambda_rich_for_cata_diag|0|VEMS_E_08_05763_008.01
Lambda_rich_for_cata_diag|0|VEMS_E_08_05763_009.01
Lambda_rich_for_cata_diag|0|VEMS_E_08_05763_010.01
Lambda_saf_enable_thresh_temp|0|VEMS_E_08_05763_007.01
Lambda_saf_enable_thresh_temp|0|VEMS_E_08_05763_008.01
Lambda_saf_enable_thresh_temp|0|VEMS_E_08_05763_009.01
Lambda_saf_enable_thresh_temp|0|VEMS_E_08_05763_010.01
Lbda_fdbk_enab_adp_delay_stt_map|0|VEMS_E_08_05763_007.01
Lbda_fdbk_enab_adp_delay_stt_map|0|VEMS_E_08_05763_008.01
Lbda_fdbk_enab_adp_delay_stt_map|0|VEMS_E_08_05763_009.01
Lbda_fdbk_enab_adp_delay_stt_map|0|VEMS_E_08_05763_010.01
Lbda_fdbk_enable_adapt_delay_map|0|VEMS_E_08_05763_007.01
Lbda_fdbk_enable_adapt_delay_map|0|VEMS_E_08_05763_008.01
Lbda_fdbk_enable_adapt_delay_map|0|VEMS_E_08_05763_009.01
Lbda_fdbk_enable_adapt_delay_map|0|VEMS_E_08_05763_010.01
Lbda_fdbk_enable_offset_map|0|VEMS_E_08_05763_007.01
Lbda_fdbk_enable_offset_map|0|VEMS_E_08_05763_008.01
Lbda_fdbk_enable_offset_map|0|VEMS_E_08_05763_009.01
Lbda_fdbk_enable_offset_map|0|VEMS_E_08_05763_010.01
Lbda_fdbk_enable_offset_stt_map|0|VEMS_E_08_05763_007.01
Lbda_fdbk_enable_offset_stt_map|0|VEMS_E_08_05763_008.01
Lbda_fdbk_enable_offset_stt_map|0|VEMS_E_08_05763_009.01
Lbda_fdbk_enable_offset_stt_map|0|VEMS_E_08_05763_010.01
Manu_inh_lambda_feedback|0|VEMS_E_08_05763_007.01
Manu_inh_lambda_feedback|0|VEMS_E_08_05763_008.01
Manu_inh_lambda_feedback|0|VEMS_E_08_05763_009.01
Manu_inh_lambda_feedback|0|VEMS_E_08_05763_010.01
Obj_rich_temp_eau_stall_bkpt_map|0|VEMS_E_08_05763_007.01
Obj_rich_temp_eau_stall_bkpt_map|0|VEMS_E_08_05763_008.01
Obj_rich_temp_eau_stall_bkpt_map|0|VEMS_E_08_05763_009.01
Obj_rich_temp_eau_stall_bkpt_map|0|VEMS_E_08_05763_010.01
InjCtl_SdlSlow_FarCtlMgr|1|VEMS_E_08_05763_010.01
OxC_bInhNormRunCond_C|0|VEMS_E_08_05763_007.01
OxC_bInhNormRunCond_C|0|VEMS_E_08_05763_008.01
OxC_bInhNormRunCond_C|0|VEMS_E_08_05763_009.01
OxC_bInhNormRunCond_C|0|VEMS_E_08_05763_010.01
CoPTSt_tCoMesRStrtSTT_bkpt_map|0|VEMS_E_08_05763_007.01
CoPTSt_tCoMesRStrtSTT_bkpt_map|0|VEMS_E_08_05763_008.01
CoPTSt_tCoMesRStrtSTT_bkpt_map|0|VEMS_E_08_05763_009.01
CoPTSt_tCoMesRStrtSTT_bkpt_map|0|VEMS_E_08_05763_010.01
INJCTL_INJFARCTLMGR_vidDiagCata|1|VEMS_R_08_05763_003.01
InjCtl_bInhIntrCdn_C|0|VEMS_E_08_05763_007.01
InjCtl_bInhIntrCdn_C|0|VEMS_E_08_05763_008.01
InjCtl_bInhIntrCdn_C|0|VEMS_E_08_05763_009.01
InjCtl_bInhIntrCdn_C|0|VEMS_E_08_05763_010.01
