Name|Type|Requirement
TQLOSSMON_vidChoisir_Type_Clim|1|VEMS_R_10_01233_011.01
TQLOSSMON_vidConvertir_P_Couple|1|VEMS_R_10_01233_010.01
TQLOSSMON_vidCoordonner_pertes|1|VEMS_R_10_01233_036.01
TQLOSSMON_vidDet_Adaptatif_Perte|1|VEMS_R_10_01233_029.01
TQLOSSMON_vidDet_Coef_Filtre|1|VEMS_R_10_01233_033.01
TQLOSSMON_vidDet_Consigne_Couple|1|VEMS_R_10_01233_032.01
TQLOSSMON_vidDet_Demande_Altern|1|VEMS_R_10_01233_005.01
TQLOSSMON_vidDet_P_Conso_Type4|1|VEMS_R_10_01233_009.01
TQLOSSMON_vidDet_Pertes_Altern|1|VEMS_R_10_01233_003.01
TQLOSSMON_vidDet_Pertes_BVA|1|VEMS_R_10_01233_030.01
TQLOSSMON_vidDet_Pertes_Clim|1|VEMS_R_10_01233_007.01
TQLOSSMON_vidDet_Pertes_DA|1|VEMS_R_10_01233_015.01
TQLOSSMON_vidDet_Pertes_DA_Lin|1|VEMS_R_10_01233_018.01
TQLOSSMON_vidDet_Pertes_DA_OnOff|1|VEMS_R_10_01233_017.01
TQLOSSMON_vidDet_Pertes_Max_Fric|1|VEMS_R_10_01233_024.01
TQLOSSMON_vidDet_Pertes_Max_Pomp|1|VEMS_R_10_01233_025.01
TQLOSSMON_vidDet_Pertes_Mot_Glob|1|VEMS_R_10_01233_028.01
TQLOSSMON_vidDet_Pertes_Moteur|1|VEMS_R_10_01233_023.01
TQLOSSMON_vidFiltrer_consigne|1|VEMS_R_10_01233_034.01
TQLOSSMON_vidCalculer_Couple|1|VEMS_R_10_01233_013.01
TQLOSSMON_vidDet_P_Conso_Type3|1|VEMS_R_10_01233_008.01
TQLOSSMON_vidDet_Pertes_Max_Dem|1|VEMS_R_10_01233_026.02
TQLOSSMON_vidFiltrer_Pertes_DA|1|VEMS_R_10_01233_020.01
SftyMgt_SdlMid_tqAuxSumLoss|1|VEMS_R_10_01233_001.02
SftyMgt_SdlMid_tqCkEngLossAdp|1|VEMS_R_10_01233_001.02
SftyMgt_SdlMid_tqCkFricLoss|1|VEMS_R_10_01233_001.02
SftyMgt_SdlMid_tqCnvLoss|1|VEMS_R_10_01233_001.02
SftyMgt_SdlMid_tqSumLossCmp|1|VEMS_R_10_01233_001.02
SftyMgt_SdlMid_tqSumLossCord|1|VEMS_R_10_01233_001.02
TQLOSSMON_vidCoord_Pertes_Access|1|VEMS_R_10_01233_022.02
TQLOSSMON_vidDet_Pertes_Access|1|VEMS_R_10_01233_002.02
TQLOSSMON_vidFiltrer_redond_ACS|1|VEMS_R_10_01233_012.01
TQLOSSMON_vidSelectioner_Type_DA|1|VEMS_R_10_01233_019.01
TQLOSSMON_vidTraiter_entrees|1|VEMS_R_10_01233_031.01
TQLOSSMON_vidVal_Demande_Altern|1|VEMS_R_10_01233_006.01
TQLOSSMON_vidVal_Pertes_Pompe_HP|1|VEMS_R_10_01233_027.01
TQLOSSMON_vidValider_consigne|1|VEMS_R_10_01233_035.01
TQLOSSMON_vidValider_Pertes_Clim|1|VEMS_R_10_01233_014.01
TQLOSSMON_vidValider_Reserve_GMV|1|VEMS_R_10_01233_004.01
TQLOSSMON_vidValider_signal_ACS|1|VEMS_R_10_01233_021.01
TQLOSSMON_vidTraiter_Vveh|1|VEMS_R_10_01233_016.01
SftyMgt_bSumLossCmpCnv_C|0|VEMS_R_10_01233_001.02
SftyMgt_facFilTqACLoss_C|0|VEMS_R_10_01233_001.02
SftyMgt_facFilTqStgPmpLoss_C|0|VEMS_R_10_01233_001.02
SftyMgt_idxACTyp_C|0|VEMS_R_10_01233_001.02
SftyMgt_idxAltTyp_C|0|VEMS_R_10_01233_001.02
SftyMgt_idxStgPmpTyp_C|0|VEMS_R_10_01233_001.02
SftyMgt_pwrACMax_C|0|VEMS_R_10_01233_001.02
SftyMgt_spdDftCnvLoss_C|0|VEMS_R_10_01233_001.02
SftyMgt_tiDlyEngLossDftOff_C|0|VEMS_R_10_01233_001.02
SftyMgt_tiDlyEngLossDftOn_C|0|VEMS_R_10_01233_001.02
SftyMgt_tiDlyLossAuxDftOff_C|0|VEMS_R_10_01233_001.02
SftyMgt_tiDlyLossAuxDftOn_C|0|VEMS_R_10_01233_001.02
SftyMgt_tiDlyLossBVADftOff_C|0|VEMS_R_10_01233_001.02
SftyMgt_tiDlyLossBVADftOn_C|0|VEMS_R_10_01233_001.02
SftyMgt_facCnvLoss_Spd_T|0|VEMS_R_10_01233_001.02
SftyMgt_facCnvPwrTqr_M|0|VEMS_R_10_01233_001.02
SftyMgt_facCnvTqrPwr_M|0|VEMS_R_10_01233_001.02
SftyMgt_facFilTqACLossDown_T|0|VEMS_R_10_01233_001.02
SftyMgt_facFilTqACLossUp_T|0|VEMS_R_10_01233_001.02
SftyMgt_facFilTqCnvLossDown_T|0|VEMS_R_10_01233_001.02
SftyMgt_facFilTqCnvLossUp_T|0|VEMS_R_10_01233_001.02
SftyMgt_facFilTqStgDown_T|0|VEMS_R_10_01233_001.02
TQLOSSMON_vidEntryInit|1|VEMS_R_10_01233_001.02
SftyMgt_facFilTqStgLossUp_T|0|VEMS_R_10_01233_001.02
SftyMgt_facStgLnrLossNCk_T|0|VEMS_R_10_01233_001.02
SftyMgt_facStgLnrLossSpd_T|0|VEMS_R_10_01233_001.02
SftyMgt_facStgPmpThdLossNCk_T|0|VEMS_R_10_01233_001.02
SftyMgt_facStgThdLossSpd_T|0|VEMS_R_10_01233_001.02
SftyMgt_nCkStgPmp_A|0|VEMS_R_10_01233_001.02
SftyMgt_nCk_X_A|0|VEMS_R_10_01233_001.02
SftyMgt_nCk_Y_A|0|VEMS_R_10_01233_001.02
SftyMgt_pwr_X_A|0|VEMS_R_10_01233_001.02
SftyMgt_spdTqCmp_A|0|VEMS_R_10_01233_001.02
SftyMgt_bDgoTqSumLossCmp|0|VEMS_R_10_01233_001.02
SftyMgt_tqSumLossCmpChkBuf|0|VEMS_R_10_01233_001.02
SftyMgt_tiDlyEngLossAdp_C|0|VEMS_R_10_01233_001.02
SftyMgt_tiDlySumLossDftOff_C|0|VEMS_R_10_01233_001.02
SftyMgt_tiDlySumLossDftOn_C|0|VEMS_R_10_01233_001.02
SftyMgt_tiMaxStrtLoss_C|0|VEMS_R_10_01233_001.02
SftyMgt_tqAC3BasLossMax_C|0|VEMS_R_10_01233_001.02
SftyMgt_tqAC3OnLossMax_C|0|VEMS_R_10_01233_001.02
SftyMgt_tqACLossMax_C|0|VEMS_R_10_01233_001.02
SftyMgt_tqACLossMin_C|0|VEMS_R_10_01233_001.02
SftyMgt_tqAltLossMaxGAP_C|0|VEMS_R_10_01233_001.02
SftyMgt_tqAltLossMaxICCP_C|0|VEMS_R_10_01233_001.02
SftyMgt_tqAltLossMaxMEL_C|0|VEMS_R_10_01233_001.02
SftyMgt_tqAltLossMax_C|0|VEMS_R_10_01233_001.02
SftyMgt_tqAltLossMin_C|0|VEMS_R_10_01233_001.02
SftyMgt_tqCkEngLossMax_C|0|VEMS_R_10_01233_001.02
SftyMgt_tqCkEngLossMin_C|0|VEMS_R_10_01233_001.02
SftyMgt_tqCkPmpHiPLoss_C|0|VEMS_R_10_01233_001.02
SftyMgt_tqCkPmpLossOfs_C|0|VEMS_R_10_01233_001.02
SftyMgt_tqCkStrtLossMax_C|0|VEMS_R_10_01233_001.02
SftyMgt_tqCnvLossMax_C|0|VEMS_R_10_01233_001.02
SftyMgt_tqCnvLossMin_C|0|VEMS_R_10_01233_001.02
SftyMgt_tqErrThdSftyEngLoss_C|0|VEMS_R_10_01233_001.02
SftyMgt_tqErrThdSftyLossAux_C|0|VEMS_R_10_01233_001.02
SftyMgt_tqErrThdSftyLossBVA_C|0|VEMS_R_10_01233_001.02
SftyMgt_tqRelThdSftyLossAdp_C|0|VEMS_R_10_01233_001.02
SftyMgt_tqStgPmpLnrLossMax_C|0|VEMS_R_10_01233_001.02
SftyMgt_tqStgPmpLossMax_C|0|VEMS_R_10_01233_001.02
SftyMgt_tqStgPmpLossMin_C|0|VEMS_R_10_01233_001.02
SftyMgt_tqStgPmpThdLossMax_C|0|VEMS_R_10_01233_001.02
SftyMgt_tqCkFricLossT_A|0|VEMS_R_10_01233_001.02
SftyMgt_tqCkFricLossT_T|0|VEMS_R_10_01233_001.02
SftyMgt_tqCkPmpLossMax_A|0|VEMS_R_10_01233_001.02
SftyMgt_tqCkPmpLossMax_T|0|VEMS_R_10_01233_001.02
SftyMgt_tq_X_A|0|VEMS_R_10_01233_001.02
SftyMgt_bInhTqManGBxLoss_C|0|VEMS_R_10_01233_001.02
SftyMgt_nStrtTqLossThd_C|0|VEMS_R_10_01233_001.02
SftyMgt_spdDftStgPmp_C|0|VEMS_R_10_01233_001.02
SftyMgt_tqErrThdTqAuxLoss_C|0|VEMS_R_10_01233_001.02
SftyMgt_tqFanStrtLossMax_C|0|VEMS_R_10_01233_001.02
TQLOSSMON_vidValider_Pertes_Glob|1|VEMS_R_10_01233_037.02
TQLOSSMON_vidDet_Pertes_BVM|1|VEMS_R_10_01233_038.01
